{% extends 'base.html' %}

{% block title %}Reset Password - TillandsiaGarden{% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
        <div _ngcontent-c0="" class="app-container">
            <router-outlet _ngcontent-c0=""></router-outlet>
            <sucstu-login>
                <div class="login-container container">
                    <h2 class="login-container__title">Password Reset</h2>
                    <p>{{ form.new_password1.errors }} {{ form.new_password2.errors }}{{ form.password1.errors }} {{ form.password2.errors }}</p>
                    <sucstu-auth-form _nghost-c6="">
                        <form _ngcontent-c6="" method="post" class="login-form ng-dirty ng-touched ng-valid" novalidate="">
                            {% if validlink %}
                            {% csrf_token %}
                            <span _ngcontent-c30="" class="error-text">{{ form.non_field_errors }}</span>
                            <div _ngcontent-c6="" class="form-group form-group--flex-start">
                                {{  form.new_password1|add_class:"form-group__input ng-dirty ng-valid ng-touched"|attr:"placeholder:New Password" }}
                            </div>
                            <div _ngcontent-c6="" class="form-group form-group--flex-start">
                                {{  form.new_password2|add_class:"form-group__input ng-dirty ng-valid ng-touched"|attr:"placeholder:Confirm New Password" }}
                            </div>                            
                            <div _ngcontent-c6="" class="form-group form-group--submit"><button _ngcontent-c6="" class="btn btn-primary btn-primary--with-hover" type="submit" test-id="login__login-button"> Submit </button></div>
                            <a _ngcontent-c6="" class="subscribe-link" href="{% url 'checkout' %}">Don't have an account? Subscribe now.</a>
                            {% else %}
                            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                            {% endif %}
                        </form>
                    </sucstu-auth-form>
                </div>
            </sucstu-login>
        </div>
    </div>
{% endblock %}