{% extends 'base.html' %}

{% block title %}Complete - TillandsiaGarden{% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
        <div _ngcontent-c0="" class="app-container">
            <router-outlet _ngcontent-c0=""></router-outlet>
            <sucstu-login>
                <div class="login-container container">
                    <h2 class="login-container__title">Your new password has been reset.</h2>
                </div>
                <div _ngcontent-c6="" class="form-group form-group--submit"><button _ngcontent-c6="" class="btn btn-primary btn-primary--with-hover" onclick="location.href = '/login';" test-id="login__login-button"> Log In </button></div>
            </sucstu-login>
        </div>
    </div>
{% endblock %}