option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: airplant/wsgi.py
    
container_commands:
  01_http_to_https_redirect:
    command: 
      sed -i '/\<VirtualHost \*:80\>/a RewriteEngine On\nRewriteCond %{HTTP:X-Forwarded-Proto} !https\nRewriteRule \!/robots.txt https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]' /etc/httpd/conf.d/wsgi.conf
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_static:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

packages:
  yum:
    gcc-c++: []
    make: []
    openssl-devel: []
    git: []
    python36-devel: []
    postgresql96-devel: []
