option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: airplant/wsgi.py
    
files:
  "/etc/httpd/conf/http-redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      RewriteCond %{HTTP:X-Forwarded-Proto} !https
      RewriteCond %{HTTP_USER_AGENT} !ELB-HealthChecker
      RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}    

packages:
  yum:
    gcc-c++: []
    make: []
    openssl-devel: []
    git: []
    python36-devel: []
    postgresql96-devel: []
