{% extends 'base.html' %} {% block title %}About - TillandsiaGarden{% endblock %} {% load static %} {% block content %}

            <div _ngcontent-serverapp-c0="" class="app-container">
                <router-outlet _ngcontent-serverapp-c0=""></router-outlet>
                <sucstu-pages-about _nghost-serverapp-c10="">
                    <div _ngcontent-serverapp-c10="" class="page-container">
                        <div _ngcontent-serverapp-c10="" class="about-container container">
                            <h1 _ngcontent-serverapp-c10="" class="section__title about__title text-medium">About</h1>
                            <div _ngcontent-serverapp-c10="" class="about__container">
                                <div _ngcontent-serverapp-c10="" class="about__item about__item--1">
                                    <div _ngcontent-serverapp-c10="" class="about__item-picture-container"><img _ngcontent-serverapp-c10="" alt="Colored Box" src="/assets/images/colored-box.jpg"></div>
                                    <div _ngcontent-serverapp-c10="" class="about__item-text-container">
                                        <h3 _ngcontent-serverapp-c10="" class="about__item-title">What’s in the Box</h3>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text"> Inside your carefully curated Succulent Studios box are two 8-week-old succulents. Grown at our second-generation nursery in Fallbrook, CA, we plan each month's succulents based on seasonality and hardiness to provide
                                            you with the most stunning, unique, and healthy new plant friends! </p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text"> Each succulent comes planted in coconut coir and potted in a 2" biodegradable, earth-friendly pot that is carefully secured in its box. Your baby succulents will be happy and healthy in these pots for 1-2 rounds
                                            of watering (a few weeks), at which point their pots will begin softening and should be planted into new homes. Just place your succulent--pot and all--into a container of your choice (preferably one with drainage
                                            holes), and surround with soil. After a few months, the original pot will have completely degraded! See a full repotting tutorial <a _ngcontent-serverapp-c10="" href="/blog/posts/succulent-repotting-101-how-to-safely-repot-your-succulents">here</a>.
                                            </p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text">Care instructions to the rescue! Your subscription box also comes with plant identification cards and care instructions to help you be the best plant parent you can be. See examples from past boxes <a _ngcontent-serverapp-c10=""
                                                routerlink="/carecards" href="/carecards">here</a>.</p>
                                        <div _ngcontent-serverapp-c10="" class="about__item-button"><a _ngcontent-serverapp-c10="" class="btn btn-primary btn-primary--with-hover" routerlink="/checkout" href="/checkout">Subscribe</a></div>
                                    </div>
                                </div><span _ngcontent-serverapp-c10="" class="about__divider"></span>
                                <div _ngcontent-serverapp-c10="" class="about__item about__item--2">
                                    <div _ngcontent-serverapp-c10="" class="about__item-picture-container"><img _ngcontent-serverapp-c10="" alt="Colored Box" src="/assets/images/truck.png"></div>
                                    <div _ngcontent-serverapp-c10="" class="about__item-text-container">
                                        <h3 _ngcontent-serverapp-c10="" class="about__item-title">Shipping Information</h3>
                                        <p _ngcontent-serverapp-c10="" class="about__item-subtitle">Succulents are shipped anywhere in the U.S.</p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text">Once an order is placed, we will verify your order details, select a pair of healthy plants from our nursery, trim them, and carefully pot them and package them safely in their box. This process takes about 2-3
                                            business days, then they'll be on their way! *NOTE:* We are committed to providing you the very best plants, and we sometimes need an extra day or two for your plants to be in peak condition for shipping. Please
                                            be patient if it takes a little longer for your box to ship! Once shipped, you will receive an email with tracking information and an estimated delivery day. </p>
                                    </div>
                                </div><span _ngcontent-serverapp-c10="" class="about__divider"></span>
                                <div _ngcontent-serverapp-c10="" class="about__item about__item--3">
                                    <div _ngcontent-serverapp-c10="" class="about__item-picture-container"><img _ngcontent-serverapp-c10="" alt="Colored Box" src="/assets/images/2x-plan.jpg"></div>
                                    <div _ngcontent-serverapp-c10="" class="about__item-text-container">
                                        <h3 _ngcontent-serverapp-c10="" class="about__item-title">The Company</h3>
                                        <p _ngcontent-serverapp-c10="" class="about__item-subtitle">Born in California, raised wherever you are.</p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text"> With its second-generation farm in Fallbrook and fulfillment center in Long Beach, California, Succulent Studios grows and ships hundreds of succulent and cacti species. Our team has a deeply rooted passion (pun
                                            intended) for integrating the outdoors into our homes, and we love sharing our succulents with folks in all corners of the country! </p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-subtitle">Organic. Plastic-free. Earth-conscious.</p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text"> Succulent Studios takes pride in growing these hardy little plants using only <strong _ngcontent-serverapp-c10="">organic media and fertilizers</strong>. We believe it's long overdue and vitally important for businesses
                                            to operate with our earth and future generations in mind, which is why we use <strong _ngcontent-serverapp-c10="">biodegradable pots and 100% plastic-free packaging</strong>. We've made it our mission to walk
                                            this earth more gently and do our part for a brighter, greener future. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </sucstu-pages-about>
            </div>
        </div>
{% endblock %}
