{% extends 'base.html' %} {% block title %}About - AirplantGardens{% endblock %} {% load static %} {% block content %}

            <div _ngcontent-serverapp-c0="" class="app-container">
                <router-outlet _ngcontent-serverapp-c0=""></router-outlet>
                <sucstu-pages-about _nghost-serverapp-c10="">
                    <div _ngcontent-serverapp-c10="" class="page-container">
                        <div _ngcontent-serverapp-c10="" class="about-container container">
                            <h1 _ngcontent-serverapp-c10="" class="section__title about__title text-medium">About</h1>
                            <div _ngcontent-serverapp-c10="" class="about__container">
                                <div _ngcontent-serverapp-c10="" class="about__item about__item--1">
                                    <div _ngcontent-serverapp-c10="" class="about__item-picture-container"><img _ngcontent-serverapp-c10="" alt="Colored Box" src="{% static '../static/assets/images/box.png' %}"></div>
                                    <div _ngcontent-serverapp-c10="" class="about__item-text-container">
                                        <h3 _ngcontent-serverapp-c10="" class="about__item-title">What’s in the Box</h3>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text"> Inside your carefully curated Airplant Gardens box is one tillandsia, or airplant, grown over the last several years from seed. We curate a selection of tillandsia, so you receive something new and unique each month. We work hard to provide you with the most stunning, unique, and healthy new plants! </p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text">The airplant you will get are already a few years old. They grow in the air and can be placed anywhere around the house, office, or any space. Airplants should be dunked in water once or twice a week for a couple of minutes.</p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text">Your subscription box also comes with airplant identification cards and care instructions to help you be the best airplant parent you can be. <a _ngcontent-serverapp-c10="" routerlink="/carecards" href="/carecards">here</a>.</p>
                                        <div _ngcontent-serverapp-c10="" class="about__item-button"><a _ngcontent-serverapp-c10="" class="btn btn-primary btn-primary--with-hover" routerlink="/checkout" href="/checkout">Subscribe</a></div>
                                    </div>
                                </div><span _ngcontent-serverapp-c10="" class="about__divider"></span>
                                <div _ngcontent-serverapp-c10="" class="about__item about__item--2">
                                    <div _ngcontent-serverapp-c10="" class="about__item-picture-container"><img _ngcontent-serverapp-c10="" alt="Colored Box" src="{% static '../static/assets/images/truck.png' %}"></div>
                                    <div _ngcontent-serverapp-c10="" class="about__item-text-container">
                                        <h3 _ngcontent-serverapp-c10="" class="about__item-title">Shipping Information</h3>
                                        <p _ngcontent-serverapp-c10="" class="about__item-subtitle">We ship anywhere in the United States</p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text">Once an order is placed, we will verify your order details, select a healthy plant from our nursery and carefully package them safely in its box. This process takes about 2-3 business days, then they'll be on their way! *NOTE:* We are committed to providing you the very best plants, and we sometimes need an extra day or two for your plants to be in peak condition for shipping. Please be patient if it takes a little longer for your box to ship! Once shipped, you will receive an email with tracking information and an estimated delivery day. </p>
                                    </div>
                                </div><span _ngcontent-serverapp-c10="" class="about__divider"></span>
                                <div _ngcontent-serverapp-c10="" class="about__item about__item--3">
                                    <div _ngcontent-serverapp-c10="" class="about__item-picture-container"><img _ngcontent-serverapp-c10="" alt="Colored Box" src="{% static '../static/assets/images/hairy.png' %}"></div>
                                    <div _ngcontent-serverapp-c10="" class="about__item-text-container">
                                        <h3 _ngcontent-serverapp-c10="" class="about__item-title">The Company</h3>
                                        <p _ngcontent-serverapp-c10="" class="about__item-subtitle">Born in California, raised wherever you are.</p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text"> With its Nursery in Southern California,  Airplant Gardens grows and ships hundreds of tillandsia and bromeliadae species. Our team has a deeply rooted passion for integrating the outdoors into our homes, and we love sharing our airplants with folks in all corners of the country!</p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-subtitle">Organic. Plastic-free. Earth-conscious.</p>
                                        <p _ngcontent-serverapp-c10="" class="about__item-text"> Our airplants grow without soil, fertilizers or enhancers. They grow in the air. We take pride in growing these exotic and unique little plants. We believe it's long overdue and vitally important for businesses to operate with our earth and future generations in mind, which is why we use 100% plastic-free packaging. We've made it our mission to walk this earth more gently and do our part for a brighter, greener future. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </sucstu-pages-about>
            </div>
        </div>
{% endblock %}
