{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Airplant Gardens</title>
    <link rel="icon" type="image/png" href="{% static '../static/assets/images/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static '../static/assets/images/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="{% static '../static/assets/css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../static/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static '../static/assets/css/owl.carousel.css' %}">
    <!--<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154516454-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-154516454-1');
        gtag('config', 'UA-154516454-2');
    </script>
</head>
<body data-gr-c-s-loaded="true">
<div class="cdk-overlay-container" style='display:none'>
  <div class="cdk-overlay-backdrop dark-backdrop cdk-overlay-backdrop-showing"></div>
  <div class="cdk-global-overlay-wrapper" dir="ltr" style="justify-content: center; align-items: center;">
    <div id="cdk-overlay-0" class="cdk-overlay-pane modal-dialog-panel" style="pointer-events: auto; position: static;">
      <sucstu-five-off-lead-form _nghost-serverapp-c7="">
        <div _ngcontent-serverapp-c7="" class="lead-banner"><a _ngcontent-serverapp-c7="" class="close-ad close"><span _ngcontent-serverapp-c7="" class="sr-only">close</span></a>
          <div _ngcontent-serverapp-c7="" class="lead-banner-content">
            <h1 _ngcontent-serverapp-c7="" class="lead-banner__title text-bolder">$5 OFF</h1>
            <div _ngcontent-serverapp-c7="" class="lead-banner__sub-content">
              <h3 _ngcontent-serverapp-c7="" class="lead-banner__subtitle">YOUR FIRST MONTH</h3>
              <div _ngcontent-serverapp-c7="" class="lead-banner__form ng-untouched ng-pristine ng-invalid" novalidate="">
                <div _ngcontent-serverapp-c7="" class="form-group"><input _ngcontent-serverapp-c7="" class="lead-input form-group__input text-extralight ng-untouched ng-pristine ng-invalid" formcontrolname="email" id="emailInput" placeholder="Enter your email" required="" type="email">
                  <!---->
                </div><button _ngcontent-serverapp-c7="" class="lead-banner__btn btn btn-primary" id="get_email_discount" type="button">I want airplants </button>
              </div>
            </div>
            <a _ngcontent-serverapp-c7="" class="close-ad lead-banner__link" test-id="lead-banner__close-button">No thanks, I don’t want a $5 discount. </a></div>
        </div>
      </sucstu-five-off-lead-form>
    </div>
  </div>
</div>
<sucstu-root _nghost-c0="" ng-version="7.2.0">
    <!---->
    <div _ngcontent-c0="" class="content">
        <div _ngcontent-c0="" class="main">
            <sucstu-notification-bar _ngcontent-c0="" _nghost-c1="">
                <div _ngcontent-c1="" class="notification-bar notification-bar-disabled"><span _ngcontent-c1="" class="notification-bar-title"></span>
                    <p _ngcontent-c1="" class="notification-bar-message"></p><span _ngcontent-c1="" class="close-icon">X</span>
                </div>
            </sucstu-notification-bar>
            <sucstu-coupon-banner _ngcontent-c0="" _nghost-c2="">
                <div _ngcontent-c2="" class="coupon-banner"><span _ngcontent-c2="" class="coupon-title">Eucalyptus Savings!</span>
                    <p _ngcontent-c2="" class="coupon-message"></p><span _ngcontent-c2="" class="close-icon">X</span>
                </div>
            </sucstu-coupon-banner>
            <sucstu-header _ngcontent-c0="" _nghost-c3="">
                <header _ngcontent-c3="" class="header">
                    <div _ngcontent-c3="" class="header-container">
                        <!---->
                        <div _ngcontent-c3="" class="nav-row sticked" style="top: 0px;"><a _ngcontent-c3="" class="logo-container" routerlink="/" href="/"><img _ngcontent-c3="" class="logo-container-img" src="{% static '../static/assets/images/lowercase-logo.png' %}"><img _ngcontent-c3="" class="logo-container-img logo-container-img--mobile" src="{% static '../static/assets/images/lowercase-logo.png' %}"></a>
                            <h1 _ngcontent-c3="" class="header-title header-title--desk"><a _ngcontent-c3="" routerlink="/" href="/"><span _ngcontent-c3="" class="header-title-bolder">Airplant</span> Gardens</a></h1>
                            <!---->
                            <!---->
                            <div _ngcontent-c3="" class="nav-container">
                                {% if user.is_authenticated %}
                                <div _ngcontent-c3="" class="nav-action logged-in"><a _ngcontent-c3="" href="{% url 'profile' %}">Account</a><a _ngcontent-c3="" test-id="header__logout-button" href="{% url 'logout' %}">Log Out</a><!----></div>
                                {% else %}
                                <!---->
                                <h5 _ngcontent-c3="" class="guarantee-text">100% satisfaction guarantee</h5>
                                <!---->
                                <div _ngcontent-c3="" class="nav-action"><a _ngcontent-c3="" routerlink="/login" test-id="header__login-button" href="/login">Log In</a></div>
                                {% endif %}
                                <!---->
                            </div>
                        </div>
                        <!---->
                        <div _ngcontent-c3="" class="title-row">
                            <h1 _ngcontent-c3="" class="header-title header-title--mobile"><a _ngcontent-c3="" routerlink="/" href="/"><span _ngcontent-c3="" class="header-title-bolder">Succulent</span> Studios</a></h1>
                        </div>
                    </div>
                </header>
            </sucstu-header>

{% block content %}
{% endblock %}

<sucstu-footer _ngcontent-c0="" class="footer-container" _nghost-c4="">
            <!---->
            <footer _ngcontent-c4="" class="footer">
                <div _ngcontent-c4="" class="footer-links-container">
                    <!---->
                    <div _ngcontent-c4="" class="footer-links__group">
                        <h5 _ngcontent-c4="" class="footer-links__title text-medium">More info</h5>
                        <!---->
                        <ul _ngcontent-c4="" class="footer-links__list">
                            <li _ngcontent-c4="" class="footer-link__item"><a href="/gift">Send a Gift</a></li>
                        </ul>
                    </div>
                    <div _ngcontent-c4="" class="footer-links__group">
                        <h5 _ngcontent-c4="" class="footer-links__title text-medium">Customer Care</h5>
                        <!---->
                        <ul _ngcontent-c4="" class="footer-links__list">
                            <li _ngcontent-c4="" class="footer-link__item"><a href="/about">About Us</a></li>
                        </ul>
                        <ul _ngcontent-c4="" class="footer-links__list">
                            <li _ngcontent-c4="" class="footer-link__item"><a href="/faq">FAQ</a></li>
                        </ul>
                        <ul _ngcontent-c4="" class="footer-links__list">
                            <li _ngcontent-c4="" class="footer-link__item"><a href="/privacy">Privacy policy</a></li>
                        </ul>
                    </div>
                    <div _ngcontent-c4="" class="footer-links__group">
                        <h5 _ngcontent-c4="" class="footer-links__title text-medium">Contact Us</h5>
                        <!---->
                        <ul _ngcontent-c4="" class="footer-links__list">
                            <li _ngcontent-c4="" class="footer-link__item"><a href="mailto:hello@airplant.garden">hello@airplant.garden</a></li>
                        </ul>
                    </div>
                </div>
                <div _ngcontent-c4="" class="footer-social-links">
                    <div _ngcontent-c4="" class="footer-social-links__group">
                       <a _ngcontent-c4="" class="social-link__item" target="a_blank" href="https://www.facebook.com/AirplantGardens-110105993859762"><img _ngcontent-c4="" alt="Facebook Icon" src="{% static '../static/assets/images/facebook-square.svg' %}"></a>
                       <a _ngcontent-c4="" class="social-link__item" target="a_blank" href="https://www.instagram.com/airplant.gardens/"><img _ngcontent-c4="" alt="Facebook Icon" src="{% static '../static/assets/images/instagram.svg' %}"></a>
                   </div>
                </div>
            </footer>
        </sucstu-footer>
    </div>
</sucstu-root>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlCs3tRB6kR3JCtnlEKtFknc0oZgxBIv8&libraries=places&callback=initAutocomplete" async defer></script>
<script type="text/javascript" src="https://js.braintreegateway.com/web/3.55.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.55.0/js/hosted-fields.min.js"></script>
<script src="{% static '../static/assets/js/owl.carousel.js' %}"></script>

<!-- application javascript -->
<script>

// this is the first time
if (! localStorage.noFirstVisit) {
    // show the element
    // and do the animation you want
    $('.cdk-overlay-container').css('display','block');
      // check this flag for escaping this if block next time
    localStorage.noFirstVisit = "1";
}

$('.close-ad').click(function(){
   $('.cdk-overlay-container').css('display','none');
});

localStorage.requested_discount = false;

// Submit Email from lead generator banner
$('#get_email_discount').click(function () {
    $.ajax({
        url : "{% url 'get_discount' %}",
        type : 'POST',
        data : {
            'email' : $('#emailInput').val(),
            'amount' : 5,
            'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType    :'json',
        success : function(data) { 
            var password_status = Number(data.status)
            if (password_status == 1){
                console.log('an error occured')
                $('.cdk-overlay-container').css('display','none');
            } else {
                $('.cdk-overlay-container').css('display','none');
                localStorage.requested_discount = true;
                localStorage.coupon_code = data.coupon_code;
            }
        },
        error : function(request,error)
        {
            alert("Request: "+JSON.stringify(request));
        }
    });
});


var owl = $('.owl-carousel');

$(document).ready(function(){
  owl.owlCarousel({
      items:1,
      number:1,
      autoplay : true,
      autoplaySpeed: 800,
      autoplayTimeout: 8000,
      slideSpeed : 8000,
      paginationSpeed : 8000,
      singleItem:true,
      loop:true,
  });
});

$('#next_image').click(function() {
    owl.trigger('next.owl.carousel');
})
// Go to the previous item
$('#previous_image').click(function() {
    // With optional speed parameter
    // Parameters has to be in square bracket '[]'
    owl.trigger('prev.owl.carousel', [300]);
})

// from https://developers-dot-devsite-v2-prod.appspot.com/maps/documentation/javascript/examples/places-autocomplete-addressform

// This sample uses the Autocomplete widget to help the user select a
// place, then it retrieves the address components associated with that
// place, and then it populates the form fields with those details.
// This sample requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script
// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

var placeSearch, autocomplete;

var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search predictions to
  // geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'), {types: ['geocode']});

  // Avoid paying for data that you don't need by restricting the set of
  // place fields that are returned to just the address components.
  autocomplete.setFields(['address_component']);

  // When the user selects an address from the drop-down, populate the
  // address fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details,
  // and then fill-in the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle(
          {center: geolocation, radius: position.coords.accuracy});
      autocomplete.setBounds(circle.getBounds());
    });
  }
}

$('#address_cant_find').click(function(){
    $('#address_autofill').css('display','none');
    $('#address_manual').css('display','block');
});

// register controls
$('#btn-show').click(function() {
    pass = $('#id_password');
    type = pass.attr('type');
    type == 'text' ? pass.attr('type','password') : pass.attr('type','text');
});

$('.faq-question-container').click(function() {
    // $('.answer').css('display','none');
    $('.arrow').removeClass('flip-arrow');
    $('.answer').removeClass('answer-active');
    $(this).children('.answer').toggleClass('answer-active');
    $(this).find('.arrow').addClass('flip-arrow');
});

//glob variables doms
var email = $('#id_email');
var pass1 = $('#id_password1');
var pass2 = $('#id_password2');
var first = $('#id_first_name');
var last = $('#id_last_name');
var phone = $('#id_phone');
var password_okay = false;
var email_okay = false;
var user_details = false;
var user_address = false;
var user_payment = false;

// Check email okay on key up in email field: 
$(email).keyup(function (){
    $.ajax({
        url : "{% url 'check_email' %}",
        type : 'POST',
        data : {
            'email' : email.val(),
            'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType    :'json',
        success : function(data) { 
            var email_status = Number(data.status)
            if(email_status == 1){
                email_okay = false;
                $('.email_errors').html(data.message);
            } else {
                email_okay = true;
                $('.email_errors').html("");
                return;
            }
        },
        error : function(request,error)
        {
            alert("Request: "+JSON.stringify(request));
        }
    });
});


// Check password okay in key up in password field:
$('#id_password1, #id_password2').keyup(function () {
    $.ajax({
        url : "{% url 'check_password' %}",
        type : 'POST',
        data : {
            'password1' : pass1.val(),
            'password2' : pass2.val(),
            'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType    :'json',
        success : function(data) { 
            var password_status = Number(data.status)
            if (password_status == 1){
                password_okay = false;
                $('.password_errors').html(data.message).css("color","red");
            } else {
                password_okay = true;
                $('.password_errors').html(data.message).css("color","green");
                return;
            }
        },
        error : function(request,error)
        {
            alert("Request: "+JSON.stringify(request));
        }
    });
});


// Check if shipping details address is complete:
$('.user_address').keyup('change', function () {
    if ($(this).val()){
        $('.address_next').prop('disabled', false);
    } else {
        $('.address_next').prop('disabled', true);
    }
});



// Check if user can proceed (enables next button):
window.setInterval(function(){
  
    //check personal details form has values
    if (email.val() && pass1.val() && pass2.val() && first.val() && last.val() && phone.val() && email_okay && password_okay) {
        $('#user_details').prop('disabled', false);
    } else {
        $('#user_details').prop('disabled', true);
    }

}, 100);


//buttons 
$('.user_details_next').click(function(){
    nextDisaply($(this));
    $('.personal_name').html(first.val() + ' ' + last.val());
    $('.personal_email').html(email.val());
    $('.personal_phone').html(phone.val());
    user_details = true;
    cardSummary();
    if (user_address == false){
        $('.user_address_details').css('display','block');
    }
    getBraintreeToken();
});

$('.address_next').click(function(){
    nextDisaply($(this));
    if (user_payment == false){
        $('.payment_details').css('display','block');
    }
    $('.personal_name').html(first.val() + ' ' + last.val());
    $('.personal_address').html($('.user_address').val());
    user_address = true;
    cardSummary();
});

$('#apply-coupon').click(function(){
    coupon_apply($(this));
});

//edit buttons
$('.edit_button').click(function() {
    $('.card-content').css('display','none');
    $(this).parent().siblings('.card-content').css('display','block');
    $(this).parent('.card-content__summary').css('display','none');
});

function nextDisaply(button) {
    console.log('next applied')
    $(button).closest('.card-content').css('display','none');
    $(button).closest('.card-content').siblings('.card-content__summary').css('display','block');
}


$('#place-order').click(function() {
    register();
});

$("#terms-check").click(function(){   
    $("#place-order").attr('disabled', !this.checked)
});

var discount = "NONE";
var discount_amount = 0;
var coupon_code = 'None';

//retrieves and applies coupon
function coupon_apply(button){
  
    if ($('#coupon-input').val()) {
        coupon_code = $('#coupon-input').val()
    }
  
    $.ajax({
        url : "{% url 'check_coupon' %}",
        type : 'POST',
        data : {
            'email' : email.val(),
            'coupon' : coupon_code,
            'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType:'json',
        success : function(data) {  
            console.log(data)
            if (data.status === 0){
                $('#discounted_amount_subtotal').html("$10.00 - DISCOUNT APPLIED").css("color","green");
                $('#discounted_amount_grandtotal').html("$10.00");
                discount_amount = data.amount;
            } else {
                console.log(data.message);
            }
        },
        error : function(request,error)
        {
            alert("There was an error processing your order, please contact support@airplant.garden");
        }
    });
}

if (localStorage.requested_discount){
  $('#coupon-input').val(localStorage.coupon_code)
  coupon_apply($('#apply-coupon'))
}

function register(button) {
    console.log(email.val() + "submitted payment");
    $.ajax({
        url : "{% url 'register' %}",
        type : 'POST',
        data : {
            'password1' : pass1.val(),
            'email' : email.val(),
            'first_name' : first.val(),
            'last_name' : last.val(),
            'phone' : phone.val(),
            'address1' : $('.user_address').val(),
            'address2' : $('.user_address_2').val(),
            'street_number' : $('#street_number').val(),
            'street_name' : $('#route').val(),
            'city' : $('#locality').val(),
            'state' : $('#administrative_area_level_1').val(),
            'zip_code' : $('#postal_code').val(),
            'country' : $('#country').val(),
            'card_name' : $('#card-name').val(),
            'nonce' : hold_payment.nonce,
            'card_type' : hold_payment.details.cardType,
            'last_four' : hold_payment.details.lastFour,
            'expiration' : hold_payment.details.expirationMonth + '/' + hold_payment.details.expirationYear,
            'coupon_code' : $('#coupon-input').val(),
            'discount_amount' : discount_amount,
            'customer_id' : customer_id,
            'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType:'json',
        success : function(data) {              
            window.location.href="/profile/";
            console.log(email.val() + "completed registation");
        },
        error : function(request,error)
        {
            alert("There was an error processing your order, please contact support@airplant.garden");
        }
    });
}

var customer_id = "";

function getBraintreeToken() {
    $.ajax({
        url : "{% url 'get_token' %}",
        type : 'POST',
        data : {
            'email' : email.val(),
            'first_name' : first.val(),
            'last_name' : last.val(),
            'phone' : phone.val(),
            'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType:'json',
        success : function(data) {   
            console.log(data.status + data.token + data.message + data.customer_id);
            customer_id = data.customer_id;
            initializeBraintreeFields(data.token);
            return data.token;
        },
        error : function(request,error)
        {
            alert("There was an error processing your order, please contact support@airplant.garden");
        }
    });
}

function cardSummary() {
    if (user_address && user_details && user_payment){
        $('.checkout_order_summary').css('display','block');
    }
}


//braintree payment JS
var form = $('#payment_form');
var hold_payment;

function initializeBraintreeFields(token){
braintree.client.create({
  authorization: token
}, function(err, clientInstance) {
  if (err) {
    console.error(err);
    return;
  }

  braintree.hostedFields.create({
    client: clientInstance,
    styles: {
      input: {
        // change input styles to match
        'font-family' : '"Space mono", sans-serif',
        'font-size' : '14px',
        color: 'blue',
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#card-cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#card-expiration',
        placeholder: 'MM / YY'
      }
    }
  }, function(err, hostedFieldsInstance) {
    if (err) {
      console.error(err);
      return;
    }
    function createInputChangeEventListener(element) {
      return function () {
        validateInput(element);
      }
    }

    function setValidityClasses(element, validity) {
      if (validity) {
        element.removeClass('is-invalid');
        element.addClass('is-valid');  
      } else {
        element.addClass('is-invalid');
        element.removeClass('is-valid');  
      }    
    }
    
    function validateInput(element) {
      // very basic validation, if the
      // fields are empty, mark them
      // as invalid, if not, mark them
      // as valid

      if (!element.val().trim()) {
        setValidityClasses(element, false);

        return false;
      }

      setValidityClasses(element, true);

      return true;
    }

    var ccName = $('#card-name');
    // email = email.val();

    ccName.on('change', function () {
      validateInput(ccName);
    });


hostedFieldsInstance.on('validityChange', function(event) {
      var field = event.fields[event.emittedBy];
   
      $(field.container.parentElement.parentElement).removeClass('is-valid');
      $(field.container.parentElement.parentElement).removeClass('is-invalid');

      if (field.isValid) {
        $(field.container.parentElement.parentElement).addClass('is-valid');
      } else if (field.isPotentiallyValid) {
        // skip adding classes if the field is
        // not valid, but is potentially valid
      } else {
        $(field.container.parentElement.parentElement).addClass('is-invalid');
      }
    });

    hostedFieldsInstance.on('cardTypeChange', function(event) {
      var cardBrand = $('#card-brand');
      var cvvLabel = $('[for="cc-cvv"]');

      if (event.cards.length === 1) {
        var card = event.cards[0];

        // change pay button to specify the type of card
        // being used
        cardBrand.text(card.niceType);
        // update the security code label
        cvvLabel.text(card.code.name);
      } else {
        // reset to defaults
        cardBrand.text('Card');
        cvvLabel.text('CVV');
      }
    });
     $("#save_payment_details").click(function() {
    console.log("Saving payment details.");
     var formIsInvalid = false;
     var state = hostedFieldsInstance.getState();



      // Loop through the Hosted Fields and check
      // for validity, apply the is-invalid class
      // to the field container if invalid
      Object.keys(state.fields).forEach(function(field) {
        if (!state.fields[field].isValid) {
          $(state.fields[field].container).addClass('is-invalid');
          formIsInvalid = true;
        }
      });

      if (formIsInvalid) {
        // skip tokenization request if any fields are invalid
        return;
      }

      hostedFieldsInstance.tokenize({
        // include the cardholderName in the tokenization
        // request
        cardholderName: $('#card-name').val()
      }, function(err, payload) {
          
        if (err) {
          console.error(err);
          return;
        }

        console.log('submitting payment load');
        
        
        hold_payment = payload;
        console.log(hold_payment)
        // submitToken(payload);
        
        //handles payment method summary and form
        user_payment = true;
        cardSummary();
        nextDisaply($("#submit-card"))
        $('.payment-summary').css('display','block');
        $('.custom-select').html('<option value="Card Choice">' + hold_payment.details.cardType + ' ending in **** **** **** ' + hold_payment.details.lastFour + '</option>');
    $.ajax({
        url : "{% url 'change_payment' %}",
        type : 'POST',
        data : {
            'card_name' : $('#card-name').val(),
            'email' : '{{personal_details.email}}',
            'nonce' : hold_payment.nonce,
            'card_type' : hold_payment.details.cardType,
            'last_four' : hold_payment.details.lastFour,
            'expiration' : hold_payment.details.expirationMonth + '/' + hold_payment.details.expirationYear,
            'customer_id' : customer_id,
            'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType:'json',
        success : function(data) {              
            window.location.href="/profile/";
            console.log(email.val() + "completed registation");
            $(".payment_details").css("display", "none");
            $("#payment_summary").css("display", "block");
        },
        error : function(request,error)
        {
            alert("There was an error processing your order, please contact support@airplant.garden");
        }
    });
  });
     });
    $("#submit-card").click(function(){
             var formIsInvalid = false;
             var state = hostedFieldsInstance.getState();
        
    
        
              // Loop through the Hosted Fields and check
              // for validity, apply the is-invalid class
              // to the field container if invalid
              Object.keys(state.fields).forEach(function(field) {
                if (!state.fields[field].isValid) {
                  $(state.fields[field].container).addClass('is-invalid');
                  formIsInvalid = true;
                }
              });
        
              if (formIsInvalid) {
                // skip tokenization request if any fields are invalid
                return;
              }
        
              hostedFieldsInstance.tokenize({
                // include the cardholderName in the tokenization
                // request
                cardholderName: $('#card-name').val()
              }, function(err, payload) {
                if (err) {
                  console.error(err);
                  return;
                }

                console.log('submitting payment load');
                
                
                hold_payment = payload;
                console.log(hold_payment)
                // submitToken(payload);
                
                //handles payment method summary and form
                user_payment = true;
                cardSummary();
                nextDisaply($("#submit-card"))
                $('.payment-summary').css('display','block');
                $('.custom-select').html('<option value="Card Choice">' + payload.nonce.cardType + ' ending in **** **** **** ' + payload.details.lastFour + '</option>');
  
            });
    });
  });
});
}

function canceler() { 
  $("#cancel_subscription_modal").click(function() {
    $("#turn-off-reason-modal").css("display", "block");
  });
}
canceler();
  $("#nevermind").click(function() {
    $("#turn-off-reason-modal").css("display", "none");
  });
  $("#cancel_save_address_details").click(function() {
    $(".user_address_details").css("display", "none");
    $("#subscription-recipient-details").css("display", "block");
  });
  $("#edit_shipping_details").click(function() {
    $(".user_address_details").css("display", "block");
    $("#subscription-recipient-details").css("display", "none");
  });
  $("#edit_payment_details").click(function() {
    getBraintreeTokenProfile()
    $(".payment_details").css("display", "block");
    $("#payment_summary").css("display", "none");
  });
  $("#cancel_save_payment_details").click(function() {
    $(".payment_details").css("display", "none");
    $("#payment_summary").css("display", "block");
  });
  $("#save_address_details").click(function() {
    $.ajax({
      url: "{% url 'change_shipping' %}",
      type: 'POST',
      data: {
        'first_name' : $('.first_name').val(),
        'last_name' : $('.last_name').val(),
        'address1' : $('.user_address').val(),
        'address2' : $('.user_address_2').val(),
        'street_number' : $('#street_number').val(),
        'street_name' : $('#route').val(),
        'city' : $('#locality').val(),
        'state' : $('#administrative_area_level_1').val(),
        'zip_code' : $('#postal_code').val(),
        'country' : $('#country').val(),
        'email': '{{ pesonal_details.email }}',
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: 'json',
      success: function(data) {
        var subscription_cancel_status = data.status
        if (subscription_cancel_status == 0) {
          $(".user_address_details").css("display", "none");
          $("#subscription-recipient-details").css("display", "block");
          $(".subscription__recipient-name").html($('.first_name').val() + " " + $('.last_name').val());
          $("#address_street").html($('#street_number').val() + " " + $('#route').val() + " " + $('.user_address_2').val());
          $("#address_locale").html($('#locality').val() + ", " + $('#administrative_area_level_1').val() + " " + $('#postal_code').val());
        }
        else {
          return;
        }
      },
      error: function(request, error) {
        alert("Request: " + JSON.stringify(request));
      }
    });
  });
  $("#cancel_subscription").click(function() {
    var responses = new Array()
    $("input").each(function() {
      if($(this).is(':checked')){
          responses.push($(this).parent().siblings("p").html());
      }
    });
    console.log(responses)
    $.ajax({
      url: "{% url 'cancel_subscription' %}",
      type: 'POST',
      data: {
        'reason_for_canceling' : responses,
        'email': email.val(),
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: 'json',
      success: function(data) {
        var subscription_cancel_status = data.status
        if (subscription_cancel_status == 0) {
          $("#turn-off-reason-modal").css("display", "none");
          $("#new_button").html('<a _ngcontent-c9="" class="link-button-11" id="reactivate_subscription"> Re-activate your subscription! </a>');
          reactivator();
        }
        else {
          return;
        }
      },
      error: function(request, error) {
        alert("Request: " + JSON.stringify(request));
      }
    });
  });
  
function reactivator() {  
  $("#reactivate_subscription").click(function() {
    $.ajax({
      url: "{% url 'reactivate_subscription' %}",
      type: 'POST',
      data: {
        'email': '{{ pesonal_details.email }}',
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: 'json',
      success: function(data) {
        var subscription_cancel_status = data.status
        if (subscription_cancel_status == 0) {
          $("#new_button").html('<a _ngcontent-c9="" class="link-button-11" id="cancel_subscription_modal"> Cancel subscription. </a>');
          canceler();
        }
        else {
          return;
        }
      },
      error: function(request, error) {
        alert("Request: " + JSON.stringify(request));
      }
    });
  });
}
reactivator();

function getBraintreeTokenProfile() {
    $.ajax({
        url : "{% url 'get_token' %}",
        type : 'POST',
        data : {
            'email' : '{{ personal_details.email }}',
            'first_name' : $('.first_name').val(),
            'last_name' : $('.last_name').val(),
            'phone' : '123',
            'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType:'json',
        success : function(data) {   
            // console.log(data.status + data.token + data.message + data.customer_id);
            customer_id = data.customer_id;
            initializeBraintreeFields(data.token);
            return data.token;
        },
        error : function(request,error)
        {
            alert("There was an error processing your order, please contact support@airplant.garden");
        }
    });
}


</script>

</html>