{% extends 'base.html' %}
{% block title %}Checkout - TillandsiaGarden{% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
            <div _ngcontent-c0="" class="app-container">
                <router-outlet _ngcontent-c0=""></router-outlet> 
                <sucstu-checkout _nghost-c29="">
                    <div _ngcontent-c29="" class="checkout-container container">
                        <div _ngcontent-c29="" class="checkout-text">
                            <div _ngcontent-c29="">
                                <div _ngcontent-c29="">
                                    <p class="page-title">California’s most gorgeous eucalyptus shipped straight to your door.</p>
                                </div>
                                <div _ngcontent-c29="">
                                    <p class="checkout-text__2">Subscribe to receive one bouquet of California-grown eucalyptus a month! Trimmed from our trees, carefully bundled and boxed, then shipped securely right to your door, ready to enjoy.</p>
                                    <p class="checkout-text__2">Just $12 / month +shipping.</p>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-c29="" class="checkout-container-title"><img _ngcontent-c29="" alt="" src="{% static '../static/assets/images/shoppingCart@2x.png' %}">
                            <h5 _ngcontent-c29="" class="text-bolder">Checkout</h5>
                        </div>
                        <form _ngcontent-c29="" action="/register/" method="post" class="checkout-form ng-pristine ng-valid ng-touched" novalidate="">
                            {% csrf_token %}
                            <div _ngcontent-c29="" class="checkout-content__right">
                                <sucstu-checkout-basics _ngcontent-c29="" _nghost-c30="">
                                    <div _ngcontent-c30="" class="card card--checkout enabled" test-id="checkout__basics-container">
                                        <div _ngcontent-c30="" class="card-header">
                                            <h3 _ngcontent-c30="" class="card-checkout__title">1. The Basics</h3>
                                        </div>
                                        <div _ngcontent-c30="" class="card-content">
                                            <div _ngcontent-c30="" class="ng-invalid ng-dirty ng-touched">
                                                <div _ngcontent-c30="" class="form-group form-group__flex-start">
                                                    {{ form.username|add_class:"form-group__input ng-untouched ng-pristine ng-valid"|attr:"placeholder=Email" }}
                                                    <!--<span _ngcontent-c30="" class="user-exist-message"> Email address already exist - <a _ngcontent-c30="" routerlink="/login" href="/login?redirect=checkout"><strong _ngcontent-c30="">Log in here.</strong></a></span>-->
                                                </div>
                                                <div _ngcontent-c30="" class="form-group form-group__flex-start">
                                                    {{ form.password|add_class:"form-group__input ng-dirty ng-valid ng-touched"|attr:"placeholder=Create Password" }}
                                                </div>
                                                <div _ngcontent-c30="" class="form-group form-group__flex-start">
                                                    {{ form.firstname|add_class:"form-group__input capital-case-input ng-untouched ng-pristine ng-invalid"|attr:"placeholder=First Name" }}
                                                </div>
                                                <div _ngcontent-c30="" class="form-group form-group__flex-start">
                                                    {{ form.lastname|add_class:"form-group__input capital-case-input ng-untouched ng-pristine ng-invalid"|attr:"placeholder=Last Name" }}
                                                </div>
                                                <div _ngcontent-c30="" class="form-group form-group__flex-start">
                                                    {{ form.phone|add_class:"form-group__input capital-case-input ng-untouched ng-pristine ng-invalid"|attr:"placeholder=Phone Number" }}
                                                </div>
                                                <div _ngcontent-c30="" class="form-button-container"><button _ngcontent-c30="" class="btn btn-primary btn-primary--with-hover" type="button" test-id="checkout__basics__basic-next" disabled=""> Next </button></div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </sucstu-checkout-basics>
                                <!---->
                                <sucstu-checkout-shipping-details _ngcontent-c29="" _nghost-c31="">
                                    <div _ngcontent-c31="" class="card card--checkout card--close disabled" test-id="checkout__shipping-details-container">
                                        <div _ngcontent-c31="" class="card-header">
                                            <h3 _ngcontent-c31="" class="card-checkout__title">2. Shipping Details</h3>
                                        </div>
                                        <div _ngcontent-c31="" class="card-content" style="display: none;">
                                            <div _ngcontent-c31="" class="ng-untouched ng-pristine ng-invalid" style="display: block;">
                                                <!---->
                                                <!---->
                                                <!---->
                                                <div _ngcontent-c31="" formgroupname="address" class="ng-untouched ng-pristine ng-invalid">
                                                    <!---->
                                                    <div _ngcontent-c31="" class="form-group form-group__flex-start"><input _ngcontent-c31="" appnonautocomplete="" autocomplete="2019-11-26T16:27:25.721Z" class="form-group__input ng-untouched ng-pristine ng-invalid" formcontrolname="shippingAddress" id="address" name="2019-11-26T16:27:25.721Z" placeholder="Address" type="text">
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                    <!---->
                                                    <!---->
                                                    <div _ngcontent-c31="" class="action-btn mb-10" test-id="checkout__shipping-details-manual-address"> Can't find your address? </div>
                                                    <!---->
                                                    <div _ngcontent-c31="" class="form-group"><input _ngcontent-c31="" class="form-group__input ng-untouched ng-pristine ng-valid" formcontrolname="shippingAddressExtra" placeholder="Apartment, Suite, Floor, etc." type="text" test-id="checkout__shipping-details__street-2"></div>
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div _ngcontent-c31="" class="form-button-container"><button _ngcontent-c31="" class="btn btn-primary btn-primary--with-hover" type="button" test-id="checkout__shipping-details__shipping-next"> Next </button></div>
                                            </div>
                                            <div _ngcontent-c31="" class="card-content__summary" style="display: none;">
                                                <div _ngcontent-c31="" class="summary-container">
                                                    <div _ngcontent-c31="" class="summary__item">
                                                        <div _ngcontent-c31="" class="summary__title">Name</div>
                                                        <p _ngcontent-c31="" class="summary__value"> </p>
                                                    </div>
                                                    <!---->
                                                    <!---->
                                                    <div _ngcontent-c31="" class="summary__item">
                                                        <div _ngcontent-c31="" class="summary__title">Address</div>
                                                        <p _ngcontent-c31="" class="summary__value"><span _ngcontent-c31=""></span>
                                                            <!----><span _ngcontent-c31=""> , </span></p>
                                                    </div>
                                                </div><button _ngcontent-c31="" class="btn btn-primary--inset" type="button"> Edit </button>
                                            </div>
                                        </div>
                                    </div>
                                </sucstu-checkout-shipping-details>
                                <!---->
                                <sucstu-checkout-secure-payment _ngcontent-c29="" _nghost-c33="">
                                    <div _ngcontent-c33="" class="card card--checkout card--secure-payment card--close disabled" test-id="checkout__card-container">
                                        <div _ngcontent-c33="" class="card-header">
                                            <h3 _ngcontent-c33="" class="card-checkout__title">3. Secure Payment <span _ngcontent-c33=""><img _ngcontent-c33="" alt="" src="/assets/images/locked@2x.png"></span></h3>
                                        </div>
                                        <div _ngcontent-c33="" class="card-content" style="display: none;">
                                            <!---->
                                            <div _ngcontent-c33="" class="ng-untouched ng-pristine ng-invalid" style="display: block;">
                                                <!---->
                                                <div _ngcontent-c33="" class="form-group form-group__flex-start" test-id="checkout__card__iframe-cardNumber" style="display: flex;">
                                                    <div _ngcontent-c33="" class="form-group__input" id="card-number"><iframe src="https://assets.braintreegateway.com/web/3.22.0/html/hosted-fields-frame.min.html#c2748fd5-2813-434d-849e-e935aa422ddf" frameborder="0" allowtransparency="true" scrolling="no" type="number" name="braintree-hosted-field-number" id="braintree-hosted-field-number" style="border: none; width: 100%; height: 100%; float: left;"></iframe>
                                                        <div style="clear: both;"></div>
                                                    </div>
                                                    <!---->
                                                </div>
                                                <div _ngcontent-c33="" class="card-info-group" test-id="checkout__card__iframe-expDate" style="display: flex;">
                                                    <div _ngcontent-c33="" class="form-group card-info__date form-group__flex-start"><label _ngcontent-c33="" class="form-group__input" for="expiration-date"><span _ngcontent-c33="" class="hosted-label">Expiration Date</span>
                                                            <div _ngcontent-c33="" id="expiration-date"><iframe src="https://assets.braintreegateway.com/web/3.22.0/html/hosted-fields-frame.min.html#c2748fd5-2813-434d-849e-e935aa422ddf" frameborder="0" allowtransparency="true" scrolling="no" type="expirationDate" name="braintree-hosted-field-expirationDate" id="braintree-hosted-field-expirationDate" style="border: none; width: 100%; height: 100%; float: left;"></iframe>
                                                                <div style="clear: both;"></div>
                                                            </div>
                                                        </label>
                                                        <!---->
                                                    </div>
                                                    <div _ngcontent-c33="" class="form-group card-info__cvv form-group__flex-start" test-id="checkout__card__iframe-cvv"><label _ngcontent-c33="" class="form-group__input" for="cvv"><span _ngcontent-c33="" class="hosted-label">CVV</span>
                                                            <div _ngcontent-c33="" id="cvv"><iframe src="https://assets.braintreegateway.com/web/3.22.0/html/hosted-fields-frame.min.html#c2748fd5-2813-434d-849e-e935aa422ddf" frameborder="0" allowtransparency="true" scrolling="no" type="cvv" name="braintree-hosted-field-cvv" id="braintree-hosted-field-cvv" style="border: none; width: 100%; height: 100%; float: left;"></iframe>
                                                                <div style="clear: both;"></div>
                                                            </div>
                                                        </label>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <div _ngcontent-c33="" class="form-button-container mt-15"><button _ngcontent-c33="" class="btn btn-primary btn-desk btn-primary--with-hover" id="submit-btn" type="button" test-id="checkout__card__card-next"> Next </button></div>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </sucstu-checkout-secure-payment>
                            </div>
                            <div _ngcontent-c29="" class="checkout-content__left">
                                <sucstu-checkout-summary _ngcontent-c29="" _nghost-c34="">
                                    <div _ngcontent-c34="" class="card card--checkout">
                                        <div _ngcontent-c34="" class="card-header">
                                            <h3 _ngcontent-c34="" class="card-checkout__title">Order Summary</h3><span _ngcontent-c34="" class="card-checkout__separator"></span>
                                        </div>
                                        <div _ngcontent-c34="" class="card-content ng-pristine ng-valid ng-touched">
                                            <div _ngcontent-c34="" class="order-summary-order">
                                                <div _ngcontent-c34="" class="order-summary-img">
                                                <img _ngcontent-c34="" alt="" src="/assets/images/checkout-img.png"></div>
                                                <div _ngcontent-c34="" class="order-summary-items">
                                                    <h4 _ngcontent-c34="" class="order-summary-plan text-medium"><span _ngcontent-c34="">Monthly Plan</span>
                                                    </h4>
                                                    <div _ngcontent-c34="" class="order-summary-plan-term">
                                                    </div>
                                                </div>
                                            </div><span _ngcontent-c34="" class="card-checkout__separator mb-15"></span>
                                            <div _ngcontent-c34="" class="order-summary-total">
                                                <div _ngcontent-c34="" class="order-detail-item order-subtotal"><span _ngcontent-c34="">Subtotal</span><span _ngcontent-c34="">$12.00</span></div>
                                                <div _ngcontent-c34="" class="order-detail-item order-shipping"><span _ngcontent-c34="">Shipping</span><span _ngcontent-c34="">$7.50</span></div>
                                                <div _ngcontent-c34="" class="order-detail-item order-coupon"><img _ngcontent-c34="" alt="" src="assets/images/coupon.svg">
                                                    <input _ngcontent-c34="" class="coupon-input ng-pristine ng-valid ng-touched" formcontrolname="coupon" placeholder="Enter Coupon Code" type="text">
                                                    <button _ngcontent-c34="" class="btn btn-coupon btn-primary--with-hover">Apply</button>
                                                </div>
                                                <div _ngcontent-c34="" class="order-detail-item order-total"><span _ngcontent-c34="" class="text-bolder">Grand Total</span><span _ngcontent-c34="" class="text-bolder">$19.50</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </sucstu-checkout-summary>
                            </div>
                        </form>
                    </div>
                </sucstu-checkout>
            </div>
        </div>
{% endblock %}
