{% extends 'base.html' %} {% block title %}FAQ - TillandsiaGarden{% endblock %} {% load static %} {% block content %}

<div _ngcontent-c0="" class="app-container" style="margin-top:60px">
    <router-outlet _ngcontent-c0=""></router-outlet>
    <sucstu-faq _nghost-c5="">
        <div _ngcontent-c5="" class="page-container">
            <section _ngcontent-c5="" class="faq-container container">
                <!---->
                <div _ngcontent-serverapp-c7="" class="title-container">
                    <h1 _ngcontent-serverapp-c7="" class="section__title faq__title text-medium">Faq</h1>
                    <p _ngcontent-serverapp-c7="">Questions about your succulent subscription box? Check out commonly asked questions and their answers below. If you have a question that isn't answered here, use the chat bubble in the lower right corner of your screen to send us a
                        message.</p>
                    <p _ngcontent-serverapp-c7="">Ready to get two stunning succulents every month? <a _ngcontent-serverapp-c7="" routerlink="/checkout" href="/checkout">Subscribe today</a>. </p>
                </div>
                <h6 _ngcontent-c5=""></h6>
                <div _ngcontent-c5="" class="questions-container">
                    <!---->
                    <sucstu-faq-question _ngcontent-c5="" _nghost-c6="">
                        <div _ngcontent-c6="" class="faq-question-container show-cursor">
                            <div _ngcontent-c6="" class="header">
                                <div _ngcontent-c6="" class="green-dot"></div>
                                <h3 _ngcontent-c5="" class="question__title">When will I get my box?</h3><img _ngcontent-c6="" class="arrow flip-arrow" src="{% static '../static/assets/images/faq-arrow.png' %}">
                            </div>
                            <div _ngcontent-c6="" class="body answer" style="display: none;">
                                <div _ngcontent-c5="" class="question__answer question__answer-content">
                                    <p class="question__answer"><strong class="mb-10">We ship anywhere in the U.S.</strong>Once an order is placed, we get to work putting together your bouquet of fresh eucalyptus. Your bouquet will ship a few business days after your order is placed
                                        (or after your subscription renews), at which point you'll receive an email with a tracking link and an estimated delivery date.</p>
                                </div>
                            </div>
                        </div>
                    </sucstu-faq-question>
                    <sucstu-faq-question _ngcontent-c5="" _nghost-c6="">
                        <div _ngcontent-c6="" class="faq-question-container show-cursor">
                            <div _ngcontent-c6="" class="header">
                                <div _ngcontent-c6="" class="green-dot"></div>
                                <h3 _ngcontent-c5="" class="question__title">How much is shipping?</h3><img _ngcontent-c6="" class="arrow" src="./../../../../../../assets//images/eucalyptus/Imagen1.png">
                            </div>
                            <div _ngcontent-c6="" class="body answer" style="display: none;">
                                <div _ngcontent-c5="" class="question__answer question__answer-content">
                                    <p class="question__answer">Shipping is a flat rate of $7.50 anywhere in the U.S.! Don't forget to use code FIVEDOLLARS to get $5 off your first month.</p>
                                </div>
                            </div>
                        </div>
                    </sucstu-faq-question>
                    <sucstu-faq-question _ngcontent-c5="" _nghost-c6="">
                        <div _ngcontent-c6="" class="faq-question-container show-cursor">
                            <div _ngcontent-c6="" class="header">
                                <div _ngcontent-c6="" class="green-dot"></div>
                                <h3 _ngcontent-c5="" class="question__title">Can I skip a month?</h3><img _ngcontent-c6="" class="arrow" src="./../../../../../../assets//images/eucalyptus/Imagen1.png">
                            </div>
                            <div _ngcontent-c6="" class="body" style="display: none;">
                                <div _ngcontent-c5="" class="question__answer question__answer-content">
                                    <p class="question__answer">Absolutely! Click the Log In link on the site, then under the Subscriptions header click the SKIP IT button. You will not be charged for skipping a month, and your subscription will resume the following month.</p>
                                </div>
                            </div>
                        </div>
                    </sucstu-faq-question>
                    <sucstu-faq-question _ngcontent-c5="" _nghost-c6="">
                        <div _ngcontent-c6="" class="faq-question-container show-cursor">
                            <div _ngcontent-c6="" class="header">
                                <div _ngcontent-c6="" class="green-dot"></div>
                                <h3 _ngcontent-c5="" class="question__title">Can I gift a month?</h3><img _ngcontent-c6="" class="arrow" src="./../../../../../../assets//images/eucalyptus/Imagen1.png">
                            </div>
                            <div _ngcontent-c6="" class="body" style="display: none;">
                                <div _ngcontent-c5="" class="question__answer question__answer-content">
                                    <p class="question__answer">That’s so nice of you! You sure can. Click the Log In link on the site, then under the Subscriptions header click the GIFT IT button. Your next shipment will be sent to the person of your choosing, and your subscription
                                        will resume the following month.</p>
                                </div>
                            </div>
                        </div>
                    </sucstu-faq-question>
                    <sucstu-faq-question _ngcontent-c5="" _nghost-c6="">
                        <div _ngcontent-c6="" class="faq-question-container show-cursor">
                            <div _ngcontent-c6="" class="header">
                                <div _ngcontent-c6="" class="green-dot"></div>
                                <h3 _ngcontent-c5="" class="question__title">Do you have any other gift options?</h3><img _ngcontent-c6="" class="arrow" src="./../../../../../../assets//images/eucalyptus/Imagen1.png">
                            </div>
                            <div _ngcontent-c6="" class="body" style="display: none;">
                                <div _ngcontent-c5="" class="question__answer question__answer-content">
                                    <p class="question__answer"> We do! We have 3, 6, and 12-month gift options that are perfect for anyone who deserves something special. Head over to our <a _target="_blank" href="/gifts">Gift page</a> to select the plan they'll love, write 'em
                                        a note, pick the day you want us to ship their first box, and we'll handle the rest! </p>
                                    <p class="question__answer"> Gifts are the same price as a regular subscription: $12/month (+ $7.50 shipping). You'll pay for the first month upfront, then your gift will set to auto-pay for the remaining months. Happy gifting! </p>
                                </div>
                            </div>
                        </div>
                    </sucstu-faq-question>
                    <sucstu-faq-question _ngcontent-c5="" _nghost-c6="">
                        <div _ngcontent-c6="" class="faq-question-container show-cursor">
                            <div _ngcontent-c6="" class="header">
                                <div _ngcontent-c6="" class="green-dot"></div>
                                <h3 _ngcontent-c5="" class="question__title">How do I cancel my subscription?</h3><img _ngcontent-c6="" class="arrow" src="./../../../../../../assets//images/eucalyptus/Imagen1.png">
                            </div>
                            <div _ngcontent-c6="" class="body" style="display: none;">
                                <div _ngcontent-c5="" class="question__answer question__answer-content">
                                    <p class="question__answer">Head over to your Account page on the site and click the button that says CANCEL SUBSCRIPTION.</p>
                                </div>
                            </div>
                        </div>
                    </sucstu-faq-question>
                </div>
            </section>
        </div>
    </sucstu-faq>
</div>
</div>
{% endblock %}
