
<sucstu-footer _ngcontent-c0="" class="footer-container" _nghost-c4="">
            <!---->
            <footer _ngcontent-c4="" class="footer">
                <div _ngcontent-c4="" class="footer-links-container">
                    <!---->
                    <div _ngcontent-c4="" class="footer-links__group">
                        <h5 _ngcontent-c4="" class="footer-links__title text-medium">More info</h5>
                        <!---->
                        <ul _ngcontent-c4="" class="footer-links__list">
                            <li _ngcontent-c4="" class="footer-link__item"><a href="/gift">Send a Gift</a></li>
                        </ul>
                    </div>
                    <div _ngcontent-c4="" class="footer-links__group">
                        <h5 _ngcontent-c4="" class="footer-links__title text-medium">Customer Care</h5>
                        <!---->
                        <ul _ngcontent-c4="" class="footer-links__list">
                            <li _ngcontent-c4="" class="footer-link__item"><a href="/about">About Us</a></li>
                        </ul>
                        <ul _ngcontent-c4="" class="footer-links__list">
                            <li _ngcontent-c4="" class="footer-link__item"><a href="/faq">FAQ</a></li>
                        </ul>
                        <ul _ngcontent-c4="" class="footer-links__list">
                            <li _ngcontent-c4="" class="footer-link__item"><a href="/privacy-policy">Privacy policy</a></li>
                        </ul>
                    </div>
                    <div _ngcontent-c4="" class="footer-links__group">
                        <h5 _ngcontent-c4="" class="footer-links__title text-medium">Contact Us</h5>
                        <!---->
                        <ul _ngcontent-c4="" class="footer-links__list">
                            <li _ngcontent-c4="" class="footer-link__item"><a href="mailto:hello@eucalyptusfarms.com">hello@eucalyptusfarms.com</a></li>
                        </ul>
                    </div>
                </div>
                <div _ngcontent-c4="" class="footer-social-links">
                    <div _ngcontent-c4="" class="footer-social-links__group">
                        <!----><a _ngcontent-c4="" class="social-link__item" target="a_blank" href="https://www.facebook.com/Eucalyptus-Farms-389566058474846/"><img _ngcontent-c4="" alt="Facebook Icon" src="/assets/images/facebook@2x.png"></a>
                        <!---->
                        <!---->
                        <!----><a _ngcontent-c4="" class="social-link__item" target="a_blank" href="https://www.instagram.com/EucalyptusFarms/"><img _ngcontent-c4="" alt="Instagram Icon" src="/assets/images/instagram@2x.png"></a></div><a _ngcontent-c4="" class="go-top-btn"><img _ngcontent-c4="" alt="" src="/assets/images/go-top.png"></a>
                </div>
            </footer>
        </sucstu-footer>
    </div>
</sucstu-root>
</body>