{% extends 'base.html' %} 
{% block title %}Gift - TillandsiaGarden{% endblock %} 
{% load static %} 
{% block content %}

        <div _ngcontent-c0="" class="app-container">
          <router-outlet _ngcontent-c0=""></router-outlet>
          <sucstu-plans _nghost-c5="">
            <router-outlet _ngcontent-c5=""></router-outlet>
            <sucstu-gift-plans _nghost-c6="">
              <div _ngcontent-c6="" class="page-container">
                <div _ngcontent-c6="" class="page-title-container">
                  <h1 _ngcontent-c6="" class="page-title">Gift Showstopping Eucalyptus</h1>
                  <p _ngcontent-c6="" class="page-subtitle">Send beautiful bouquets of eucalyptus to someone special every month! Each bouquet comes with twelve 20-inch stalks of fresh-cut eucalyptus. Choose a gift plan, set a shipment date, and we'll take care of the rest! Just $12/month +shipping.</p>
                </div>
                <div _ngcontent-c6="" class="plans-cards">
                  <sucstu-plan-card _ngcontent-c6="" class="plan-card__1" _nghost-c7="">
                    <div _ngcontent-c7="" class="plan-card">
                      <a _ngcontent-c7="" class="plan-card-link" routerlink="/checkout" href="/checkout?planId=5a10dbfaf8ceb4830ff186a9">
                        <!---->
                        <!---->
                        <div _ngcontent-c7="" class="plan-card-content">
                          <div _ngcontent-c7="" class="plan-card-title-container">
                            <div _ngcontent-c7="" class="plan-card-title">
                              <div _ngcontent-c6="" class="plan-card-title"> 3 Month Plan </div>
                            </div>
                            <div _ngcontent-c7="" class="plan-card-subtitle">
                              <div _ngcontent-c6="" class="plan-card-subtitle"> Adds the perfect touch of natural beauty to any decor. </div>
                            </div>
                          </div>
                          <div _ngcontent-c7="" class="plan-card-picture"><img _ngcontent-c6="" alt="3 Month Plan" class="plan-card-picture plan-card__picture--1" src="/assets/images/plan03-img.png"></div>
                        </div>
                        <div _ngcontent-c7="" class="plan-card-bottom-desc">
                          <div _ngcontent-c6="" class="plan-card-bottom" test-id="gift-page__3m-button"> </div>
                        </div>
                      </a>
                    </div>
                  </sucstu-plan-card>
                  <sucstu-plan-card _ngcontent-c6="" class="plan-card__2" _nghost-c7="">
                    <div _ngcontent-c7="" class="plan-card">
                      <a _ngcontent-c7="" class="plan-card-link" routerlink="/checkout" href="/checkout?planId=5abd46654d4f52a1ea64fa91">
                        <!----><img _ngcontent-c7="" alt="Most Popular sucstu plan" class="most-popular-image" src="/assets/images/mp-succs.png">
                        <!---->
                        <div _ngcontent-c7="" class="plan-card-content">
                          <div _ngcontent-c7="" class="plan-card-title-container">
                            <div _ngcontent-c7="" class="plan-card-title">
                              <div _ngcontent-c6="" class="plan-card-title"> 6 Month Plan </div>
                            </div>
                            <div _ngcontent-c7="" class="plan-card-subtitle">
                              <div _ngcontent-c6="" class="plan-card-subtitle"> Instantly elevates their home's aesthetic. </div>
                            </div>
                          </div>
                          <div _ngcontent-c7="" class="plan-card-picture"><img _ngcontent-c6="" alt="6 Month Plan" class="plan-card-picture plan-card__picture--2" src="/assets/images/plan06-img.png"></div>
                        </div>
                        <div _ngcontent-c7="" class="plan-card-bottom-desc">
                          <div _ngcontent-c6="" class="plan-card-bottom"> </div>
                        </div>
                      </a>
                    </div>
                  </sucstu-plan-card>
                  <sucstu-plan-card _ngcontent-c6="" class="plan-card__3" _nghost-c7="">
                    <div _ngcontent-c7="" class="plan-card">
                      <a _ngcontent-c7="" class="plan-card-link" routerlink="/checkout" href="/checkout?planId=5b33d996641451a36467b89d">
                        <!---->
                        <!---->
                        <div _ngcontent-c7="" class="plan-card-content">
                          <div _ngcontent-c7="" class="plan-card-title-container">
                            <div _ngcontent-c7="" class="plan-card-title">
                              <div _ngcontent-c6="" class="plan-card-title"> 12 Month Plan </div>
                            </div>
                            <div _ngcontent-c7="" class="plan-card-subtitle">
                              <div _ngcontent-c6="" class="plan-card-subtitle"> Feel-good eucalyptus for the whole year. </div>
                            </div>
                          </div>
                          <div _ngcontent-c7="" class="plan-card-picture"><img _ngcontent-c6="" alt="12 Month Plan" class="plan-card-picture plan-card__picture--3" src="/assets/images/plan12-img.png' %}"></div>
                        </div>
                        <div _ngcontent-c7="" class="plan-card-bottom-desc">
                          <div _ngcontent-c6="" class="plan-card-bottom"> </div>
                        </div>
                      </a>
                    </div>
                  </sucstu-plan-card>
                </div>
                <sucstu-attributes-bar _ngcontent-c6="" class="attr-bar" _nghost-c8="">
                  <div _ngcontent-c8="" class="attributes-items">
                    <div _ngcontent-c8="" class="attributes__item attributes__item-1">
                      <div _ngcontent-c8="" class="attribute__picture-container"><img _ngcontent-c8="" alt="Gift icon" src="{% static '../static/assets/images/gift-icon.png' %}"></div>
                      <div _ngcontent-c8="" class="attributes__item__title">You gift.</div>
                      <div _ngcontent-c8="" class="attributes__item__text">Tell us who gets the pleasure of receiving your gift, pick the shipment date, and write them a gift note.</div>
                    </div>
                    <div _ngcontent-c8="" class="attributes__item attributes__item-2">
                      <div _ngcontent-c8="" class="attribute__picture-container"><img _ngcontent-c8="" alt="Truck icon" src="{% static '../static/assets/images/truck-icon.png' %}"></div>
                      <div _ngcontent-c8="" class="attributes__item__title">We ship.</div>
                      <div _ngcontent-c8="" class="attributes__item__text">Set a shipment date, and we'll send a bouquet of our best eucalyptus right to their doorstep.</div>
                    </div>
                    <div _ngcontent-c8="" class="attributes__item attributes__item-3">
                      <div _ngcontent-c8="" class="attribute__picture-container"><img _ngcontent-c8="" alt="Plant icon" src="{% static '../static/assets/images/plant-icon.jpg' %}"></div>
                      <div _ngcontent-c8="" class="attributes__item__title">They enjoy.</div>
                      <div _ngcontent-c8="" class="attributes__item__text">Once delivered, they're ready to enjoy! Just trim the bottoms of each stem, pop 'em in a vase, and voila!</div>
                    </div>
                  </div>
                </sucstu-attributes-bar>
                <p _ngcontent-c6="" class="description-terms"> *Payment made easy! Pay for the first month, then your gift will set to auto-pay for the remaining months. After the final month, the subscription and billing with automatically stop. </p>
              </div>
            </sucstu-gift-plans>
          </sucstu-plans>
        </div>
      </div>
{% endblock %}