{% extends 'base.html' %}

{% block title %}Home - TillandsiaGarden{% endblock %}

{% load static %}
{% block content %}
            <div _ngcontent-c0="" class="app-container" style="margin-top: 60px;">
                <router-outlet _ngcontent-c0=""></router-outlet>
                <sucstu-pages-home _nghost-c5="">
                    <div _ngcontent-c5=""></div>
                    <div _ngcontent-c5="" class="page-container">
                        <section _ngcontent-c5="" class="hero-container">
                            <div _ngcontent-c5="" class="slide-nav slide-nav-container-left">
                                <div _ngcontent-c5="" class="nav-circle"><img _ngcontent-c5="" src="https://eucalyptusfarms.com/assets/images/left-arrow.png"></div>
                            </div>
                            <div _ngcontent-c5="" class="hero-slides-container">
                                <div _ngcontent-c5="" class="mobile-hero-slide">
                                </div>
                                <div _ngcontent-c5="" class="desktop-hero-slide">
                                    <owl-carousel _ngcontent-c5="">
                                        <!---->
                                        <owl-carousel-child class="owl-carousel owl-loaded">
                                            <!---->
                                            <div class="owl-stage-outer">
                                                <div class="owl-stage">
                                                    <div class="owl-item" style="display: none">
                                                        <div _ngcontent-c5="">
                                                            <div _ngcontent-c5="" appbgdinamic="" class="slide-picture" style="background-image: url({% static '../static/assets/images/IMG_3985.JPG' %});">
                                                                <div _ngcontent-c5="" class="hero-title-container">
                                                                    <h2 _ngcontent-c5="" class="hero-title--dark">Grown in California, enjoyed everywhere.</h2>
                                                                    <div _ngcontent-c5="" class="hero-text--dark">Each sprig in your bouquet is hand-snipped from one of our trees, carefully bundled and boxed, then shipped to your doorstep.</div>
                                                                    <div _ngcontent-c5="" class="hero-actions"><a _ngcontent-c5="" href="{% url 'checkout' %}" class="hero-btn btn btn-primary--inset btn-primary--with-hoer">Subscribe</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active">
                                                        <div _ngcontent-c5="">
                                                            <div _ngcontent-c5="" appbgdinamic="" class="slide-picture" style="background-image: url({% static '../static/assets/images/IMG_3985.JPG' %});">
                                                                <div _ngcontent-c5="" class="hero-title-container">
                                                                    <h2 _ngcontent-c5="" class="hero-title">Grown in California, enjoyed everywhere.</h2>
                                                                    <div _ngcontent-c5="" class="hero-text">Each sprig in your bouquet is hand-snipped from one of our trees, carefully bundled and boxed, then shipped to your doorstep.</div>
                                                                    <div _ngcontent-c5="" class="hero-actions"><a _ngcontent-c5="" href="{% url 'checkout' %}"class="hero-btn btn btn-primary--inset btn-primary--with-hoer">Subscribe</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
<!--
                                            <div class="owl-nav disabled">
                                                <div class="owl-prev">prev</div>
                                                <div class="owl-next">next</div>
                                            </div>
-->
                                            <div class="owl-dots">
                                                <div class="owl-dot active"><span></span></div>
                                                <div class="owl-dot"><span></span></div>
                                                <div class="owl-dot"><span></span></div>
                                                <div class="owl-dot"><span></span></div>
                                            </div>
                                        </owl-carousel-child>
                                    </owl-carousel>
                                </div>
                            </div>
                            <div _ngcontent-c5="" class="slide-nav slide-nav-container-right">
                                <div _ngcontent-c5="" class="nav-circle"><img _ngcontent-c5="" src="https://eucalyptusfarms.com/assets/images/right-arrow.png"></div>
                            </div>
                        </section>
                        <section _ngcontent-c5="" class="plans-container">
                            <h1 _ngcontent-c5="">What you get.</h1>
                            <div _ngcontent-c5="" class="plan-card"><img _ngcontent-c5="" alt="" src="https://eucalyptusfarms.com/assets/images/2x-plan.jpg">
                                <div _ngcontent-c5="" class="plan-content">
                                    <div _ngcontent-c5="" class="plan-title">
                                        <h2 _ngcontent-c5="">1 bouquet / month</h2>
                                        <h4 _ngcontent-c5="">$12 (+shipping)</h4>
                                    </div>
                                    <p _ngcontent-c5="" class="plan-desc">Naturally grown in California, each bouquet comes with twelve 20-inch sprigs of baby blue eucalyptus. Each bouquet is cut, bundled, and boxed on the same day to ensure freshness upon arrival. Perfect for your home, apartment, office, or studio, eucalyptus is an aesthetic show-stopper in any space.</p><a _ngcontent-c5="" class="plan-btn btn btn-primary--inset btn-primary--with-hover" test-id="regular-subscribe-button">Subscribe</a>
                                </div>
                            </div>
                        </section>
                        <section _ngcontent-c5="" class="company-attributes">
                            <div _ngcontent-c5="" class="attributes-card">
                                <div _ngcontent-c5="" class="plans-explanation">
                                    <div _ngcontent-c5="" class="plan-explanation-top">
                                        <h1 _ngcontent-c5="">Subscriptions automatically renew.</h1>
                                        <h5 _ngcontent-c5="">SKIP any month. GIFT any month. Cancel any time.</h5>
                                    </div><span _ngcontent-c5="" class="plan-explanation-divider"></span>
                                    <div _ngcontent-c5="" class="plan-explanation-bottom">
                                        <p _ngcontent-c5="">Welcome to Eucalyptus Farms, the best place to buy fresh eucalyptus online. Inside each subscription box, you’ll find your stunning new eucalyptus sprigs safely packaged and ready to enjoy.</p>
                                        <h6 _ngcontent-c5="">Includes care instructions.</h6>
                                    </div>
                                </div>
                                <div _ngcontent-c5="" class="attribute-card-container">
                                    <div _ngcontent-c5="" class="attribute-card">
                                        <div _ngcontent-c5="" class="circle-picture"><img _ngcontent-c5="" class="attribute-picture-flower" src="{% static '../static/assets/images/we-grow.png' %}"></div>
                                        <h2 _ngcontent-c5="">We Grow.</h2>
                                        <p _ngcontent-c5="">Our eucalyptus trees are grown beneath California sunshine.</p>
                                    </div>
                                </div>
                                <div _ngcontent-c5="" class="attribute-card-container">
                                    <div _ngcontent-c5="" class="attribute-card">
                                        <div _ngcontent-c5="" class="circle-picture"><img _ngcontent-c5="" class="attribute-picture-truck" src="{% static '../static/assets/images/we-ship.png' %}"></div>
                                        <h2 _ngcontent-c5="">We Ship.</h2>
                                        <p _ngcontent-c5="">Cut, boxed, and shipped on the same day, our eucalyptus bouquets arrive beautiful, green, and ready to enjoy!</p>
                                    </div>
                                </div>
                                <div _ngcontent-c5="" class="attribute-card-container">
                                    <div _ngcontent-c5="" class="attribute-card">
                                        <div _ngcontent-c5="" class="circle-picture"><img _ngcontent-c5="" class="attribute-picture-succulent" src="{% static '../static/assets/images/you-enjoy.png' %}"></div>
                                        <h2 _ngcontent-c5="">You Enjoy.</h2>
                                        <p _ngcontent-c5="">Eucalyptus enhances any space with long-lasting, show-stopping beauty while fresh and long after it's dried.</p>
                                    </div>
                                </div>
                                <div _ngcontent-c5="" class="company-attributes-actions"><a _ngcontent-c5="" class="btn btn-primary-inset btn-company-atrributes btn-primary--with-hover">Subscribe</a><a _ngcontent-c5="" class="btn btn-company-succulents btn-primary-inset btn-company-atrributes btn-primary--with-hover" queryparamshandling="preserve" routerlink="/inspiration" href="/inspiration">Our EUCALYPTUS</a></div>
                            </div>
                        </section>
                        <!---->
                        <!---->
                    </div>
                </sucstu-pages-home>
            </div>
        </div>
    {% endblock %}