{% extends 'base.html' %}

{% block title %}Home - AirplantGardens{% endblock %}

{% load static %}
{% block content %}
            <div _ngcontent-c0="" class="app-container" style="margin-top: 60px;">
                <router-outlet _ngcontent-c0=""></router-outlet>
                <sucstu-pages-home _nghost-c5="">
                    <div _ngcontent-c5=""></div>
                    <div _ngcontent-c5="" class="page-container">
                        <section _ngcontent-c5="" class="hero-container">
                            <div _ngcontent-c5="" class="slide-nav slide-nav-container-left">
                                <div _ngcontent-c5="" id="previous_image" class="nav-circle"><img _ngcontent-c5="" src="https://eucalyptusfarms.com/assets/images/left-arrow.png"></div>
                            </div>
                            <div _ngcontent-c5="" class="hero-slides-container">
                                <div _ngcontent-c5="" class="mobile-hero-slide">
                                    <owl-carousel _ngcontent-c5="">
                                        <!---->
                                        <owl-carousel-child class="owl-carousel">
                                            <div _ngcontent-c5="">
                                                <div _ngcontent-c5="" appbgdinamic="" class="slide-picture" style="background-image: url({% static '../static/assets/images/carousel_img1.jpg' %});">
                                                    <div _ngcontent-c5="" class="hero-title-container">
                                                        <h2 _ngcontent-c5="" style='' class="hero-title">Collect the world’s most incredible plants.</h2>
                                                        <div _ngcontent-c5="" class="hero-text">These airplants come to us from another world. Make any space unique with one of the world’s most incredible plants.</div>
                                                        <div _ngcontent-c5="" class="hero-actions"><a _ngcontent-c5="" href="{% url 'checkout' %}" class="hero-btn btn btn-primary--inset btn-primary--with-hoer">SUBSCRIBE</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-c5="">
                                                <div _ngcontent-c5="" appbgdinamic="" class="slide-picture" style="background-image: url({% static '../static/assets/images/carousel_img2.jpg' %});">
                                                    <div _ngcontent-c5="" class="hero-title-container">
                                                        <h2 _ngcontent-c5="" style='' class="hero-title">Grown with love and dedication.</h2>
                                                        <div _ngcontent-c5="" class="hero-text">We’ve been carefully growing our airplants in Southern California for over 40 years, curating one of the largest collections of airplants in the world. </div>
                                                        <div _ngcontent-c5="" class="hero-actions"><a _ngcontent-c5="" href="{% url 'checkout' %}" class="hero-btn btn btn-primary--inset btn-primary--with-hoer">SUBSCRIBE</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-c5="">
                                                <div _ngcontent-c5="" appbgdinamic="" class="slide-picture" style="background-image: url({% static '../static/assets/images/carousel_img3.jpg' %});">
                                                    <div _ngcontent-c5="" class="hero-title-container">
                                                        <h2 _ngcontent-c5="" style='' class="hero-title">Easy to love and even easier to care for - these airplants don't require any soil.</h2>
                                                        <div _ngcontent-c5="" class="hero-text">Tillandsia can survive for years with minimal care. These plants grow in the air without any soil.</div>
                                                        <div _ngcontent-c5="" class="hero-actions"><a _ngcontent-c5="" href="{% url 'checkout' %}" class="hero-btn btn btn-primary--inset btn-primary--with-hoer">SUBSCRIBE</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-c5="">
                                                <div _ngcontent-c5="" appbgdinamic="" class="slide-picture" style="background-image: url({% static '../static/assets/images/carousel_img4.jpg' %});">
                                                    <div _ngcontent-c5="" class="hero-title-container">
                                                        <h2 _ngcontent-c5="" style='' class="hero-title">Everyone deserves a little something special.</h2>
                                                        <div _ngcontent-c5="" class="hero-text">Each month you’ll receive two hand-selected airplants to add that special something to your home, office, or garden.</div>
                                                        <div _ngcontent-c5="" class="hero-actions"><a _ngcontent-c5="" href="{% url 'checkout' %}" class="hero-btn btn btn-primary--inset btn-primary--with-hoer">SUBSCRIBE</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </owl-carousel-child>
                                    </owl-carousel>
                                </div>
                                <div _ngcontent-c5="" class="desktop-hero-slide">
                                    <owl-carousel _ngcontent-c5="">
                                        <!---->
                                        <owl-carousel-child class="owl-carousel">
                                            <div _ngcontent-c5="">
                                                <div _ngcontent-c5="" appbgdinamic="" class="slide-picture" style="background-image: url({% static '../static/assets/images/carousel_img1.jpg' %});">
                                                    <div _ngcontent-c5="" class="hero-title-container">
                                                        <h2 _ngcontent-c5="" style='' class="hero-title">Collect the world’s most incredible plants.</h2>
                                                        <div _ngcontent-c5="" class="hero-text">These airplants come to us from another world. Make any space unique with one of the world’s most incredible plants.</div>
                                                        <div _ngcontent-c5="" class="hero-actions"><a _ngcontent-c5="" href="{% url 'checkout' %}" class="hero-btn btn btn-primary--inset btn-primary--with-hoer">SUBSCRIBE</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-c5="">
                                                <div _ngcontent-c5="" appbgdinamic="" class="slide-picture" style="background-image: url({% static '../static/assets/images/carousel_img2.jpg' %});">
                                                    <div _ngcontent-c5="" class="hero-title-container">
                                                        <h2 _ngcontent-c5="" style='' class="hero-title">Grown with love and dedication.</h2>
                                                        <div _ngcontent-c5="" class="hero-text">We’ve been carefully growing our airplants in Southern California for over 40 years, curating one of the largest collections of airplants in the world. </div>
                                                        <div _ngcontent-c5="" class="hero-actions"><a _ngcontent-c5="" href="{% url 'checkout' %}" class="hero-btn btn btn-primary--inset btn-primary--with-hoer">SUBSCRIBE</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-c5="">
                                                <div _ngcontent-c5="" appbgdinamic="" class="slide-picture" style="background-image: url({% static '../static/assets/images/carousel_img3.jpg' %});">
                                                    <div _ngcontent-c5="" class="hero-title-container">
                                                        <h2 _ngcontent-c5="" style='' class="hero-title">Easy to love and even easier to care for - these airplants don't require any soil.</h2>
                                                        <div _ngcontent-c5="" class="hero-text">Tillandsia can survive for years with minimal care. These plants grow in the air without any soil.</div>
                                                        <div _ngcontent-c5="" class="hero-actions"><a _ngcontent-c5="" href="{% url 'checkout' %}" class="hero-btn btn btn-primary--inset btn-primary--with-hoer">SUBSCRIBE</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-c5="">
                                                <div _ngcontent-c5="" appbgdinamic="" class="slide-picture" style="background-image: url({% static '../static/assets/images/carousel_img4.jpg' %});">
                                                    <div _ngcontent-c5="" class="hero-title-container">
                                                        <h2 _ngcontent-c5="" style='' class="hero-title">Everyone deserves a little something special.</h2>
                                                        <div _ngcontent-c5="" class="hero-text">Each month you’ll receive two hand-selected airplants to add that special something to your home, office, or garden.</div>
                                                        <div _ngcontent-c5="" class="hero-actions"><a _ngcontent-c5="" href="{% url 'checkout' %}" class="hero-btn btn btn-primary--inset btn-primary--with-hoer">SUBSCRIBE</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </owl-carousel-child>
                                    </owl-carousel>
                                </div>
                            </div>
                            <div _ngcontent-c5="" class="slide-nav slide-nav-container-right">
                                <div _ngcontent-c5=""  id='next_image' class="nav-circle"><img _ngcontent-c5="" src="https://eucalyptusfarms.com/assets/images/right-arrow.png"></div>
                            </div>
                        </section>
                        <section _ngcontent-c5="" class="plans-container">
                            <h1 _ngcontent-c5="">What you get</h1>
                            <div _ngcontent-c5="" class="plan-card"><img _ngcontent-c5="" alt="" src="{% static '../static/assets/images/green.png' %}">
                                <div _ngcontent-c5="" class="plan-content">
                                    <div _ngcontent-c5="" class="plan-title">
                                        <h2 _ngcontent-c5="">1 airplant / month</h2>
                                        <h4 _ngcontent-c5="">$15 (+ free shipping)</h4>
                                    </div>
                                    <p _ngcontent-c5="" class="plan-desc">Direct from our facility, each subscription box comes with two, year-old airplants carefully matured from seed. Perfect for your home, apartment, office, or dorm, these airplants ship in 100% plastic-free packaging, happy and ready to grow! They do not require any dirt or soil to grow. Add 'em anywhere you want a pop of green and a boost of oxygen.</p><a _ngcontent-c5="" href="/checkout" class="plan-btn btn btn-primary--inset btn-primary--with-hover" test-id="regular-subscribe-button">Subscribe</a>
                                </div>
                            </div>
                        </section>
                        <section _ngcontent-c5="" class="company-attributes">
                            <div _ngcontent-c5="" class="attributes-card">
                                <div _ngcontent-c5="" class="plans-explanation">
                                    <div _ngcontent-c5="" class="plan-explanation-top">
                                        <h1 _ngcontent-c5="">Subscriptions automatically renew.</h1>
                                        <h5 _ngcontent-c5="">SKIP any month. GIFT any month. Cancel any time.</h5>
                                    </div><span _ngcontent-c5="" class="plan-explanation-divider"></span>
                                    <div _ngcontent-c5="" class="plan-explanation-bottom">
                                        <p _ngcontent-c5="">Welcome to Airplant Gardens, the best place to buy tillandsia airplants online. Inside each subscription box, you’ll find your stunning airplant specimen safely packaged, fresh, and ready to enjoy.</p>
                                        <h6 _ngcontent-c5="">Includes care instructions.</h6>
                                    </div>
                                </div>
                                <div _ngcontent-c5="" class="attribute-card-container">
                                    <div _ngcontent-c5="" class="attribute-card">
                                        <div _ngcontent-c5="" class="circle-picture"><img _ngcontent-c5="" class="attribute-picture-flower" src="{% static '../static/assets/images/we-grow.png' %}"></div>
                                        <h2 _ngcontent-c5="">We Grow.</h2>
                                        <p _ngcontent-c5="">Our airplants are grown in specialized greenhouses in Southern California.</p>
                                    </div>
                                </div>
                                <div _ngcontent-c5="" class="attribute-card-container">
                                    <div _ngcontent-c5="" class="attribute-card">
                                        <div _ngcontent-c5="" class="circle-picture"><img _ngcontent-c5="" class="attribute-picture-truck" src="{% static '../static/assets/images/we-ship.png' %}"></div>
                                        <h2 _ngcontent-c5="">We Ship.</h2>
                                        <p _ngcontent-c5="">Carefully packaged and shipped on the same day, our airplants arrive beautiful, lush, and ready to enjoy!</p>
                                    </div>
                                </div>
                                <div _ngcontent-c5="" class="attribute-card-container">
                                    <div _ngcontent-c5="" class="attribute-card">
                                        <div _ngcontent-c5="" class="circle-picture"><img _ngcontent-c5="" class="attribute-picture-succulent" src="{% static '../static/assets/images/you-enjoy.png' %}"></div>
                                        <h2 _ngcontent-c5="">You Enjoy.</h2>
                                        <p _ngcontent-c5="">Airplants enhance any space with unique beauty from another world.</p>
                                    </div>
                                </div>
                                <div _ngcontent-c5="" class="company-attributes-actions"><a _ngcontent-c5="" class="btn btn-primary-inset btn-company-atrributes btn-primary--with-hover">Subscribe</a><a _ngcontent-c5="" class="btn btn-company-succulents btn-primary-inset btn-company-atrributes btn-primary--with-hover" queryparamshandling="preserve" routerlink="/inspiration" href="/inspiration">Our EUCALYPTUS</a></div>
                            </div>
                        </section>
                        <!---->
                        <!---->
                    </div>
                </sucstu-pages-home>
            </div>
        </div>
    {% endblock %}