{% extends 'base.html' %} {% block title %}Profile - TillandsiaGarden{% endblock %} {% load static %} {% block content %}
        <div _ngcontent-c0="" class="app-container">
          <router-outlet _ngcontent-c0=""></router-outlet>
          <sucstu-account _nghost-c5="">
            <div _ngcontent-c5="" class="referral-code-container">
              <h1 _ngcontent-c5="" class="referral-title">Here's your unique referral link!</h1>
              <p _ngcontent-c5="" class="referral-code"> airplant.garden?ccode=Wtb94e9cNFnO</p>
              <p _ngcontent-c5="" class="referral-text">Copy and paste the link above to share it with followers, friends, and family! They'll get $5 off their first couple of Tillandsia when they use your link, and every 3 people who use it means 1 FREE box of tillandsia for you!</p>
            </div>
            <div _ngcontent-c5="" class="profile-container container">
              <div _ngcontent-c5="" class="left-section">
                <div _ngcontent-c5="" class="subscriptions-card-list" style="display: block;">
                  <h3 _ngcontent-c5="" class="title">Subscriptions</h3>
                  <sucstu-subscription-card _ngcontent-c5="" _nghost-c9="">
                    <div _ngcontent-c9="" class="subscription-card-container">
                      <div _ngcontent-c9="" class="card-content">
                        <div _ngcontent-c9="" class="col-sm-12">
                          <div _ngcontent-c9="" class="subscription-details">
                            <div _ngcontent-c9="" class="subscription-info">
                              <div _ngcontent-c9="" class="subscription-id">
                                <p _ngcontent-c9="">Subscription</p><span _ngcontent-c9=""></span></div>
                              <div _ngcontent-c9="" class="subscription-info-icon"><img _ngcontent-c9="" alt="" src="/assets/images/pencil-small-icon.png"></div>
                            </div>
                            <div _ngcontent-c9="" class="subscription-recipient-details">
                              <p _ngcontent-c9="" class="subscription__recipient-name">{{address.first_name}} {{address.last_name}}</p>
                              <p _ngcontent-c9="" class="subscription__address"><span _ngcontent-c9="">{{address.street_number}} {{address.street_name}} {{address.address2}}</span><span _ngcontent-c9=""></span><span _ngcontent-c9="">{{address.city}}, {{address.state}} {{address.zip_code}}</span></p>
                            </div>
                            <div _ngcontent-c9="">
                              <a _ngcontent-c9="" class="link-button-11"> Re-activate your subscription! </a>
                            </div>
                          </div>
                        </div>
                        <div _ngcontent-c9="" class="shipments-list-container">
                          <div _ngcontent-c9="" class="col-sm-12">
                            <table _ngcontent-c9="" class="shipments-list">
                              <tbody _ngcontent-c9="">
                                <!---->
                                <tr _ngcontent-c9="" class="shipments-list__item">
                                  <td _ngcontent-c9="" class="shipments-list__item-box">Apr</td>
                                  <td _ngcontent-c9="" class="shipments-list__item-status"> Delivered.
                                    <!----><a _ngcontent-c9="" class="shipment-track action-btn" target="_blank" href="https://track.easypost.com/djE6dHJrX2I0ZTdhOTViNTE1MDRjNTdiNWZjNThmNjA0MWI4YmQ0"> Track </a></td>
                                  <td _ngcontent-c9="" class="shipments-list__item-date text-right">04/16</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </sucstu-subscription-card>
                </div>
              </div>
              <div _ngcontent-c5="" class="right-section">
                <h3 _ngcontent-c5="" class="title">Account</h3>
                  <div _ngcontent-c9="" class="subscription-card-container">
                      <div _ngcontent-c9="" class="card-content">
                        <div _ngcontent-c9="" class="col-sm-12">
                          <div _ngcontent-c9="" class="subscription-details">
                            <div _ngcontent-c9="" class="subscription-info">
                              <div _ngcontent-c9="" class="subscription-id">
                                <p _ngcontent-c9="" id="user_name">Hello, {{name.first_name}} {{name.last_name}}</p><span _ngcontent-c9=""></span>
                              </div>
                              <div _ngcontent-c9="" class="subscription-info-icon"><img _ngcontent-c9="" alt="" src="/assets/images/pencil-small-icon.png"></div>
                            </div>
                            <div _ngcontent-c9="" class="subscription-recipient-details">
                              <p _ngcontent-c9="" class="subscription__recipient-email">{{email}}</p>
                            </div>
                          </div>
                        </div>
                        <div _ngcontent-c9="" class="shipments-list-container">
                          <div _ngcontent-c9="" class="col-sm-12">
                            <div _ngcontent-c9="" class="subscription-id">
                                <p _ngcontent-c9="" id="user_name" style="font-weight:700">Payment Method on Account</p>
                              </div>
                              <p _ngcontent-c21="">{{payment.card_type}} ending in {{payment.last_four}} {{payment.expiration}}</p>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          </sucstu-account>
        </div>
<script>
  $.ajax({
    url: "",
    type: 'POST',
    data: {
      'email': email.val(),
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    dataType: 'json',
    success: function(data) {
      var email_status = Number(data.status)
      if (email_status == 1) {
        email_okay = false;
        $('.email_errors').html(data.message);
      }
      else {
        email_okay = true;
        $('.email_errors').html("");
        return;
      }
    },
    error: function(request, error) {
      alert("Request: " + JSON.stringify(request));
    }
  }); 
</script>
{% endblock %}