{% load static %}
<!doctype html>
<style>
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=RalewayBold');
</style>
<div style="height:100%;margin:0;padding:0;width:100%;background-color:#f2f5f7">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-5233162964556726823m_1754199629539668288bodyTable" style="min-width: 100%; border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#f2f5f7">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-5233162964556726823m_1754199629539668288bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                        
						
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-5233162964556726823m_1754199629539668288templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
                            <tbody><tr>
<!--
                                
-->
                                <tr>
																
                            
															</tr>
                            <tr>
                                <td valign="top" style="background:white none no-repeat center/cover;background-color:white;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
            <tr>
                <td valign="top" style="padding:0px" class="m_-5233162964556726823m_1754199629539668288mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_-5233162964556726823m_1754199629539668288mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_-5233162964556726823m_1754199629539668288mcnImageContent" valign="top" style="padding:20px;text-align:center">

                                    <a href="https://olehpay.co.il/" title="" target="_blank" data->
                                        <img align="center" alt="" src="https://airplant.garden/static/assets/images/lowercase-logo.png" width="300" style="width:100%;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_-5233162964556726823m_1754199629539668288mcnImage CToWUd">
                                    </a>

                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-5233162964556726823m_1754199629539668288mcnCodeBlock" style="border-collapse:collapse">
    <tbody class="m_-5233162964556726823m_1754199629539668288mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-5233162964556726823m_1754199629539668288mcnTextBlockInner">
                

<div class="m_-5233162964556726823m_1754199629539668288mcnTextContent" style="word-break:break-word;color:#202020;font-family: 'Raleway', sans-serif;font-size:16px;line-height:150%;text-align:left">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
		<tbody>
			<tr>
				<td align="center" valign="middle">
					<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="m_-5233162964556726823m_1754199629539668288main" style="border-collapse:collapse">
						<tbody>
							<tr>
								<td align="center" valign="middle" style="background:#fff">
									<table width="520" border="0" align="center" cellpadding="0" cellspacing="0" class="m_-5233162964556726823m_1754199629539668288two-left-inner" style="border-collapse:collapse">
										<tbody>
											<tr>
												<td height="40" align="left" valign="top" style="line-height:40px;font-size:40px">&nbsp;</td>
											</tr>
											<tr>
												<td align="center" valign="top">
													<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
														<tbody>
                                                        	
										                    
															<tr>
																<td align="left" valign="top" style="font-family: 'Raleway', sans-serif;font-size:16px;color:rgba(55, 65, 88, 0.95);font-weight:normal;line-height:24px;letter-spacing:0.2px">
                                                                    🌿No soil. No pots. Just air.<br>
                                                                    🌎Delivering an airplant to your door every month.<br>
                                                                    ♻️100% biodegradable packaging.<br>
                                                                    🌱Grown in California, raised by you.<br>
                                                                    <br>
                                                                    <div style="padding-right:80px;padding-left:80px;margin-top: -40px"><img style="width:100%;" src="https://airplant.garden/static/assets/images/red.png">
                                                                    </div>
                                                                    <span align="left" valign="top" style="font-family: 'RalewayBold', sans-serif;font-size:16px;color:rgba(55, 65, 88, 0.95);font-weight: bold; line-height:24px;letter-spacing:0.2px">
                                                                    What happens next? 
                                                                    </span>
                                                                    <br><br>
                                                                    Once an order is placed, we get to work preparing your baby airplant for its new home! We'll select a healthy Tillandsia grown right here at our nursery and carefully package it safely in its box. Soon your's will be on its way!
                                                                    <br><br>
                                                                    Once shipped, you will receive an email with tracking information and an estimated delivery day.
                                                                    <br><br>
                                                                    <div style="padding-right:80px;padding-left:80px"><img style="width:100%;" src="https://airplant.garden/static/assets/images/truck.png">
                                                                    </div>
                                                                    <br><br>
                                                                    <span align="left" valign="top" style="font-family: 'RalewayBold', sans-serif;font-size:16px;color:rgba(55, 65, 88, 0.95);font-weight: bold; line-height:24px;letter-spacing:0.2px">
                                                                    Your order information: 
                                                                    </span>
                                                                    <br><br>
                                                                    Start date: {{subscription.start_date}}
                                                                    <br><br>
                                                                    This month's total: ${{subscription.this_month_total}}
                                                                    <br><br>
                                                                    Shipping information:
                                                                    <br>
                                                                    {{shipping_details.first_name}} {{shipping_details.last_name}}
                                                                    <br>
                                                                    {% if shipping_details.city %}
                                                                    {{shipping_details.street_name}} {{shipping_details.street_number}}
                                                                    	{% if shipping_details.address2 %}
                                                                    	{{shipping_details.address2}}
                                                                    	{% endif %}
                                                                    <br>
                                                                    {{shipping_details.city}}, {{shipping_details.state}} {{shipping_details.zip_code}}
                                                                    <br>
                                                                    {% else %}
                                                                    {{shipping_details.address1}} {{shipping_details.address2}}
                                                                    {% endif %}
                                                                    <br><br>
                                                                    **Next month's box will ship a month after your first box ships, plus or minus a couple days depending on weather, weekends, and holidays.
                                                                    <br><br>
                                                                    Happy hanging!
                                                                    <br><br>
                                                                    -The AirplantGardens Team

                                                                </td>
															</tr>
															
															<tr>
										                      <td height="32" align="left" valign="top" style="line-height:32px;font-size:32px">&nbsp;</td>
										                    </tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td height="40" align="left" valign="top" style="line-height:40px;font-size:40px">&nbsp;</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>


																
															
										
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_-5233162964556726823m_1754199629539668288templateBody" style="background:#f2f5f7 none no-repeat center/cover;background-color:#f2f5f7;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px none #eaeaea;padding-top:0;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" class="m_-5233162964556726823m_1754199629539668288mcnTextBlockInner">
                
<div class="m_-5233162964556726823m_1754199629539668288mcnTextContent" style="word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F2F5F7" style="background:#f2f5f7;border-collapse:collapse">
		<tbody>
			<tr>
				<td align="center" valign="top">
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
						<tbody>
							<tr>
								<td height="20" align="left" valign="top" style="line-height:20px;font-size:20px">&nbsp;</td>
							</tr>
							<tr>
								<td align="center" valign="middle">
									<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="m_-5233162964556726823m_1754199629539668288main" style="border-collapse:collapse">
										<tbody>
											<tr>
												<td align="center" valign="middle" style="background:#f2f5f7">
													<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="m_-5233162964556726823m_1754199629539668288two-left-inner" style="border-collapse:collapse">
														<tbody>
															<tr>
																<td align="left" valign="top">
																	<table border="0" width="600" align="left" cellpadding="0" cellspacing="0" class="m_-5233162964556726823m_1754199629539668288full" style="border-collapse:collapse">
																		<tbody>
																			<tr>
																				<td align="right" valign="middle" style="text-align:left;background:#f2f5f7;color:#6f8691;font-size:12px;font-weight:normal;line-height:24px;font-family:'Averta',Arial,sans-serif;letter-spacing:0.2px">
                                                                                    You can always reach us for help or any questions <a href="mailto:hello@airplant.garden" style="color:#fbb919;font-family:'Averta',Arial,sans-serif;font-size:12px;font-weight:normal;line-height:24px;text-decoration:underline;letter-spacing:0.2px" target="_blank">hello@airplant.garden</a>.
                                                                                    <br><br>
                                                                                    Checkout our <a href="https://airplant.garden/terms" target="_blank" style="color:#fbb919">terms of service</a> and <a href="https://airplant.garden/privacy" style="color:#fbb919"target="_blank">privacy policy</a>.

                                                                                    <br><br>
																					

																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td height="16" align="left" valign="top" style="line-height:16px;font-size:16px">&nbsp;</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td align="left" valign="top">&nbsp;</td>
							</tr>
							<tr>
								<td align="center" valign="middle">
									<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="m_-5233162964556726823m_1754199629539668288main" style="border-collapse:collapse">
										<tbody>
											<tr>
												<td height="16" align="left" valign="top" style="line-height:16px;font-size:16px;background:#f2f5f7">&nbsp;</td>
											</tr>
											<tr valign="middle">

											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
	
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_-5233162964556726823m_1754199629539668288templateFooter" style="background:#f2f5f7 none no-repeat center/cover;background-color:#f2f5f7;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"></td>
                            </tr>
                        </tbody></table>
						
                        
                    </td>
                </tr>
            </tbody></table>
        </center>